@functions{

    public string AntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}


<div class="modal-dialog">
    <div class="modal-content">

        <form name="myForm" ng-submit="myForm.$valid && createOreditAsyncForm()" novalidate>
            <!--myForm.$valid && -->
            <div class="modal-header">
                <button type="button" class="close" ng-click="ShowConfirm('modal-createOredit')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Generate Barcodes</h4>
            </div>
            <div class="modal-body">
                <!-- general form elements -->
                <div id="errorMessages" class="text-danger" ng-if="ValidationSummary" ng-repeat="vs in ValidationSummary">{{vs}}</div>
                <div class="box box-primary">
                    <div class="box-body">
                        <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />
                        
                        <div class="form-group" ng-class="{'has-error': (myForm.BatchNumber.$touched || myForm.BatchNumber.$dirty)  && myForm.BatchNumber.$invalid}">
                            <label>Batch Number</label>
                            <input type="text" class="form-control" name="BatchNumber" ng-model="BarcodeRequestCreateOrEditViewModel.BatchNumber" ng-disabled="Processing" autocomplete="off" placeholder="Enter BatchNumber" tooltip-placement="top" uib-tooltip="Enter BatchNumber" required />
                            <div class="help-block" ng-messages="myForm.BatchNumber.$error" ng-if="myForm.BatchNumber.$touched || myForm.BatchNumber.$dirty && myForm.BatchNumber.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.BatchNumber" ng-bind="errors.formErrors.BatchNumber"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': (myForm.Quantity.$touched || myForm.Quantity.$dirty)  && myForm.Quantity.$invalid}">
                            <label>Qunatity</label>
                            <input type="number" class="form-control" name="Quantity" ng-model="BarcodeRequestCreateOrEditViewModel.Quantity" ng-disabled="Processing" autocomplete="off" placeholder="Enter Quantity" tooltip-placement="top" uib-tooltip="Enter Quantity" required />
                            <div class="help-block" ng-messages="myForm.Quantity.$error" ng-if="myForm.Quantity.$touched || myForm.Quantity.$dirty && myForm.Quantity.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Quantity" ng-bind="errors.formErrors.Quantity"></span>
                        </div>

                        @*<input data-ng-model="BarcodeRequestCreateOrEditViewModel.BarcodeType_ID" type="hidden" data-ng-init="BarcodeRequestCreateOrEditViewModel.BarcodeType_ID='1004'" />
                            <div class="form-group" ng-class="{'has-error': (myForm.BarcodeTypeValue.$touched || myForm.BarcodeTypeValue.$dirty)  && myForm.BarcodeTypeValue.$invalid}">
                                <label>Barcode Type</label>
                                <select name="BarcodeTypeValue" ng-model="BarcodeRequestCreateOrEditViewModel.BarcodeTypeValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllBarcodeTypes" required>
                                    <option value="" ng-selected="BarcodeRequestCreateOrEditViewModel.SelectedBarCodeType_ID < 0">-- Select --</option>
                                </select>
                                <div class="help-block" ng-messages="myForm.BarcodeTypeValue.$error" ng-if="myForm.BarcodeTypeValue.$touched || myForm.BarcodeTypeValue.$dirty && myForm.BarcodeTypeValue.$invalid">
                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                </div>
                                <span class="text-danger" ng-show="errors.formErrors.BarcodeTypeValue" ng-bind="errors.formErrors.BarcodeTypeValue"></span>
                            </div>*@

                        <input id="BarcodeType_ID" data-ng-model="BarcodeType_ID" type="hidden" data-ng-init="BarcodeType_ID='1004'" />
                        <input id="BarcodeCategory_ID" data-ng-model="BarcodeCategory_ID" type="hidden" data-ng-init="BarcodeCategory_ID='1015'" />
                        <input id="BarcodeSubCategory_ID" data-ng-model="BarcodeSubCategory_ID" type="hidden" data-ng-init="BarcodeSubCategory_ID='1016'" />

                        <div class="form-group" ng-class="{'has-error': (myForm.BarcodeCategoryValue.$touched || myForm.BarcodeCategoryValue.$dirty)  && myForm.BarcodeCategoryValue.$invalid}">
                            <label>Barcode Category</label>
                            <select name="BarcodeCategoryValue" ng-model="BarcodeRequestCreateOrEditViewModel.BarcodeCategoryValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllBarcodeCategories" ng-change="LoadBarcodeSubCategories()" required>
                                <option value="" ng-selected="BarcodeRequestCreateOrEditViewModel.SelectedBarcodeCategory_ID < 0">-- Select --</option>
                            </select>
                            <div class="help-block" ng-messages="myForm.BarcodeCategoryValue.$error" ng-if="myForm.BarcodeCategoryValue.$touched || myForm.BarcodeCategoryValue.$dirty && myForm.BarcodeCategoryValue.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.BarcodeCategoryValue" ng-bind="errors.formErrors.BarcodeCategoryValue"></span>
                        </div>


                        @*<div class="form-group" ng-class="{'has-error': (myForm.BarcodeSubCategoryValue.$touched || myForm.BarcodeSubCategoryValue.$dirty)  && myForm.BarcodeSubCategoryValue.$invalid}" ng-if="AllBarcodeSubCategories.length > 0">
                                <label>Barcode SubCategory</label>
                                <select name="BarcodeSubCategoryValue" ng-model="BarcodeRequestCreateOrEditViewModel.BarcodeSubCategoryValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllBarcodeSubCategories" required>
                                    <option value="" ng-selected="BarcodeRequestCreateOrEditViewModel.SelectedBarcodeSubCategory_ID < 0">-- Select --</option>
                                </select>
                                <div class="help-block" ng-messages="myForm.BarcodeSubCategoryValue.$error" ng-if="myForm.BarcodeSubCategoryValue.$touched || myForm.BarcodeSubCategoryValue.$dirty && myForm.BarcodeSubCategoryValue.$invalid">
                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                </div>
                                <span class="text-danger" ng-show="errors.formErrors.BarcodeSubCategoryValue" ng-bind="errors.formErrors.BarcodeSubCategoryValue"></span>
                            </div>*@


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-if="!Processing" class="btn btn-sm btn-success pull-left" ng-disabled="myForm.$invalid">Save</button>
                <span ng-if="Processing" class="btn btn-sm btn-success pull-left">Processing...</span>
                <button type="button" ng-click="Reset()" class="btn btn-sm btn-default pull-left">Clear</button>
                <span class="btn btn-sm btn-danger" ng-click="ShowConfirm('modal-createOredit')">Close</span>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->

</div>

