
@model IEnumerable<SHF.ViewModel.BarCodeIndexViewModel>

<script src="~/bower_components/JsBarcode/dist/JsBarcode.all.js"></script>


@*@foreach (var item in Model)
    {
        <div class="box box-white">
            <div class="box-body text-center" style="padding-top:10px !important;">
                <img type="image" src="@item.BarCode" alt="" style="margin-top: 15px !important;" /> <br />
                <label>@item.BarCodeValue</label>
            </div>
        </div>
    }*@

@foreach (var item in Model)
{
    <div class="box box-white" style="margin-bottom: 2px !important;">
        <div class="box-body">
            <svg class="barcode"
                 jsbarcode-format="@item.Format"
                 jsbarcode-value="@item.BarCodeValue"
                 jsbarcode-height="80"
                 jsbarcode-marginTop="10"
                 jsbarcode-displayValue="true">
            </svg>
        </div>
    </div>
}



<script type="text/javascript">
    JsBarcode(".barcode").init();
</script>

@*<select class="btn barcode-select" id="barcodeType" title="CODE128">
        <option value="CODE128">CODE128 auto</option>
        <option value="CODE128A">CODE128 A</option>
        <option value="CODE128B">CODE128 B</option>
        <option value="CODE128C">CODE128 C</option>
        <option value="EAN13">EAN13</option>
        <option value="EAN8">EAN8</option>
        <option value="UPC">UPC</option>
        <option value="CODE39">CODE39</option>
        <option value="ITF14">ITF14</option>
        <option value="ITF">ITF</option>
        <option value="MSI">MSI</option>
        <option value="MSI10">MSI10</option>
        <option value="MSI11">MSI11</option>
        <option value="MSI1010">MSI1010</option>
        <option value="MSI1110">MSI1110</option>
        <option value="pharmacode">Pharmacode</option>
    </select>
    https://lindell.me/JsBarcode/
*@
