@functions{
    public string AntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<script src="~/Scripts/ng-file-upload-5.0.9.js"></script>
<div class="modal-dialog">
    <div class="modal-content">
        <form name="myForm" ng-submit="myForm.$valid && createOreditAsyncForm()" novalidate>
            <!--myForm.$valid && -->
            <div class="modal-header">
                <button type="button" class="close" ng-click="ShowConfirm('modal-createOredit')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Bank Master Details</h4>
            </div>
            <div class="modal-body">
                <!-- general form elements -->
                <div id="errorMessages" class="text-danger" ng-if="ValidationSummary" ng-repeat="vs in ValidationSummary">{{vs}}</div>
                <div class="box box-primary">
                    <div class="box-body">
                        <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />

                        <div class="form-group" ng-class="{'has-error': ((myForm.IconPath.$touched && myForm.IconPath.$invalid) || (!myForm.IconPath.$pristine && myForm.IconPath.$invalid))}">
                            <label>Icon Path</label>
                            <div class="col-md-12" style="text-align:center;margin-bottom:10px;">
                                <input type="file" id="file" name="file" single onchange="angular.element(this).scope().setFile(this)" accept="image/*" class="btn btn-primary" required />
                            </div>
                            <div class="col-md-12">
                                <button ng-click="UploadFile()" class="button button4">Upload</button>
                            </div>
                            <div class="col-md-12" style="padding-top:10px;">
                                <div class="col-md-7">
                                    <table align="center" border="1" cellpadding="4" cellspacing="4">
                                        <thead>
                                            <tr>
                                                <th style="background-color: Yellow;color: blue">File Name</th>
                                                <th style="background-color: Yellow;color: blue">File Type</th>
                                                <th style="background-color: Yellow;color: blue">File Size</th>
                                                <th style="background-color: Yellow;color: blue">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="file in fileList">
                                                <td style="color: blue">{{file.file.name}}</td>
                                                <td style="color: blue">{{file.file.type}}</td>
                                                <td style="color: blue">{{file.file.size}}</td>
                                                <td>
                                                    <div id="{{'P'+$index}}">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="help-block" ng-messages="myForm.IconPath.$error" ng-if="myForm.IconPath.$touched || myForm.IconPath.$dirty && myForm.IconPath.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.IconPath" ng-bind="errors.formErrors.IconPath"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': (myForm.Description.$touched || myForm.Description.$dirty)  && myForm.Description.$invalid}">
                            <label>Description</label>
                            <textarea type="text" class="form-control" name="Description" ng-model="BankMasterCreateOrEditViewModel.Description" ng-disabled="Processing" autocomplete="off" placeholder="Enter Description" tooltip-placement="top" uib-tooltip="Enter Description" required></textarea>
                            <div class="help-block" ng-messages="myForm.Description.$error" ng-if="myForm.Description.$touched || myForm.Description.$dirty && myForm.Description.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Description" ng-bind="errors.formErrors.Description"></span>
                        </div>
                        <div class="form-group">
                            <label>Is Active</label><br />
                            <label>
                                <!--https://codepen.io/mosluce/pen/yYmXGz-->
                                <input icheck type="checkbox" class="form-control" ng-model="BankMasterCreateOrEditViewModel.IsActive" ng-checked="BankMasterCreateOrEditViewModel.IsActive"><span style="margin-left: 10px;">{{BankMasterCreateOrEditViewModel.IsActive ? 'Yes' : 'No'}} </span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-if="!Processing" class="btn btn-sm btn-success pull-left" ng-disabled="myForm.$invalid">Save</button>
                <span ng-if="Processing" class="btn btn-sm btn-success pull-left">Processing...</span>
                <button ng-click="Clear()" class="btn btn-sm btn-default pull-left">Clear</button>
                <span class="btn btn-sm btn-danger" ng-click="ShowConfirm('modal-createOredit')">Close</span>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>
