
@{
    ViewBag.Title = "Index";
}

@section style{

    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Delmon
        <small>SHF Solutions</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Configurations</li>
        <li class="active">Master</li>
        <li class="">UOM Product Mapping Details</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" id="ProductUnitOfMeasurementControllerScope" ng-controller="ProductUnitOfMeasurementCtrl">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">UOM Product Mapping Details</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        @if (ViewBag.TenantID <= SHF.Helper.busConstant.Numbers.Integer.ZERO)
                        {
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="btn-sm btn-group">
                                            <button type="button" data-toggle="modal" ng-click="CreateAsync()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button type="button" data-toggle="modal" ng-click="EditAsync()">
                                                <i class="fa fa-save"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-xs-9">
                                        <select name="TenantName" ng-model="ProductUnitOfMeasurementCreateOrEditViewModel.Tenant_ID" class="form-control" style="width: 100%;" ng-options="x.ID as x.Name for x in AllTenants" ng-change="LoadUnitOfMeasurementProductsAndRefreshGrid()">
                                            <option value="" ng-selected="ProductUnitOfMeasurementCreateOrEditViewModel.SelectedTenant_ID < 0">-- Select Tenant --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-3">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="btn-sm btn-group">
                                            <button type="button" data-toggle="modal" ng-click="TennantCreateAsync()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button type="button" data-toggle="modal" ng-click="EditAsync()">
                                                <i class="fa fa-save"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-xs-3">
                            <select name="VendorName" ng-model="ProductUnitOfMeasurementCreateOrEditViewModel.UnitOfMeasurement_ID" class="form-control" style="width: 100%;" ng-options="x.ID as x.Name for x in AllUnitOfMeasurements" ng-change="BindGrid()">
                                <option value="" ng-selected="ProductUnitOfMeasurementCreateOrEditViewModel.SelectedUnitOfMeasurement_ID < 0">-- Select UOM --</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <select name="ProductName" ng-model="ProductUnitOfMeasurementCreateOrEditViewModel.Product_ID" class="form-control" style="width: 100%;" ng-options="x.ID as x.Name for x in AllProducts" ng-change="BindGrid()">
                                <option value="" ng-selected="ProductUnitOfMeasurementCreateOrEditViewModel.SelectedProduct_ID < 0">-- Select Product --</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="box-body">
                    <!-- /.box-header -->
                    <input type="hidden" value="@ViewBag.TenantID" id="ViewBag_TenantID" />

                    <input id="antiForgeryToken" type="hidden" value="@IndexAntiForgeryToken()" />

                    <div class="box-body">
                        <table id="grdTable" class="table table-bordered table-responsive table-striped dataTable" role="grid"></table>
                    </div>



                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="modal fade" id="modal-createOredit" data-backdrop="static" tabindex="-1" data-keyboard="false" style="display:none">
        <!--modal fade-->
        @{
            if (ViewBag.TenantID <= SHF.Helper.busConstant.Numbers.Integer.ZERO)
            {
                Html.RenderPartial("_CreateOrEdit");
            }
            else
            {
                Html.RenderPartial("_CreateOrEditTenant");
            }

        }
    </div>
    <div class="modal fade" id="modal-createOreditTemp" style="display:none"></div>

</section>
<!-- /.content -->

@functions{
    public string IndexAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}


@section scripts{


}