
@{
    ViewBag.Title = "Index";
}

@section style{

    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        SHIVA
        <small>B F Solutions</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Configurations</li>
        <li class="active">Master</li>

        <li class="">Services6 Section2 Master Details</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" id="Services6Section2MasterControllerScope" ng-controller="Services6Section2MasterCtrl">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Services6 Section2 Master Details</h3>
                </div>
                <div class="box-body">
                    <div class="btn-sm btn-group">
                        <button type="button" data-toggle="modal" ng-click="CreateAsync()">
                            <i class="fa fa-plus"></i>
                        </button>

                    </div>
                </div>
                <!-- /.box-header -->
                <input type="hidden" value="@ViewBag.TenantID" id="ViewBag_TenantID" />

                <input id="antiForgeryToken" type="hidden" value="@IndexAntiForgeryToken()" />

                <div class="box-body">
                    <table id="grdTable" class="table table-bordered table-responsive table-striped dataTable" role="grid"></table>
                </div>



                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="modal fade" id="modal-createOredit" data-backdrop="static" tabindex="-1" data-keyboard="false" style="display:none">
        <!--modal fade-->
        <!--modal fade-->
        @if (ViewBag.TenantID <= SHF.Helper.busConstant.Numbers.Integer.ZERO)
        {
            Html.RenderPartial("_CreateOrEdit");
        }
        else
        {
            Html.RenderPartial("_CreateOrEditTenant");
        }
    </div>

    <div class="modal fade" id="modal-guide" data-backdrop="static" tabindex="-1" data-keyboard="false" style="display:none">
        <!--modal fade-->
        <!--modal fade-->
        @if (ViewBag.TenantID <= SHF.Helper.busConstant.Numbers.Integer.ZERO)
        {
            Html.RenderPartial("_Guide");
        }
        else
        {
            Html.RenderPartial("_Guide");
        }
    </div>

    <div class="modal fade" id="modal-bannermaster" data-backdrop="static" tabindex="-1" data-keyboard="false" style="display:none">
        <!--modal fade-->
        <!--modal fade-->
        @if (ViewBag.TenantID <= SHF.Helper.busConstant.Numbers.Integer.ZERO)
        {
            Html.RenderPartial("~/Views/Shared/_BannerMaster.cshtml");
        }
        else
        {
            Html.RenderPartial("~/Views/Shared/_BannerMaster.cshtml");
        }
    </div>


</section>
<!-- /.content -->

@functions{
    public string IndexAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}




@section scripts{


}