
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}


<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Please</b>Wait.....</a>
    </div>
    <input type="hidden" id="returnUrl" value="@ViewBag.ReturnUrl" />
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function continue_to_dashboard() {
            let url = window.location.origin;
            url = url.concat('/Home/SetCookies?url=');
            let returnUrl = $('#returnUrl').val();
            if (returnUrl && returnUrl !== '') {
                url = url.concat(returnUrl);
            }
            window.setTimeout(function () {               
                window.open(url, "_self", "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,copyhistory=no", true);//   status=0, toolbar=0, scrollbars=1, location=0, menubar=0,addressbar=0, width=1500, height=1000"");
            }, 500);
        }

        $(document).ready(function () {          
            continue_to_dashboard();
        });
    </script>
}
