IF EXISTS (SELECT * FROM sys.objects WHERE name = 'tempservices')  
DROP Table [dbo].[tempservices]  
GO
CREATE TABLE [dbo].[tempservices](
	[SL_No_] [int] NOT NULL,
	[MAIN_CATEGORY_MENU] [nvarchar](50) NOT NULL,
	[SUB_CATEGORY_MENU] [nvarchar](50) NOT NULL,
	[SERVICE_NAME] [nvarchar](100) NOT NULL,
	[SERVICES_PAGE_TYPE] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tempservices] ([SL_No_], [MAIN_CATEGORY_MENU], [SUB_CATEGORY_MENU], [SERVICE_NAME], [SERVICES_PAGE_TYPE]) VALUES (1, N'Form New Business', N'BUSINESS REGISTRATIONS', N'Proprietorship Registration', 1)
INSERT [dbo].[tempservices] ([SL_No_], [MAIN_CATEGORY_MENU], [SUB_CATEGORY_MENU], [SERVICE_NAME], [SERVICES_PAGE_TYPE]) VALUES (2, N'Form New Business', N'BUSINESS REGISTRATIONS', N'Partnership Registration', 1)
INSERT [dbo].[tempservices] ([SL_No_], [MAIN_CATEGORY_MENU], [SUB_CATEGORY_MENU], [SERVICE_NAME], [SERVICES_PAGE_TYPE]) VALUES (3, N'Form New Business', N'BUSINESS REGISTRATIONS', N'LLP Registration', 1)
GO
