@functions{
    public string AntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<div class="modal-dialog">
    <div class="modal-content">
        <form name="myForm" ng-submit="myForm.$valid && createOreditAsyncForm()" novalidate>
            <!--myForm.$valid && -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Product Details</h4>
            </div>
            <div class="modal-body">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-body">

                        <div class="form-group" ng-class="{'has-error': (myForm.ProductName.$touched || myForm.ProductName.$dirty)  && myForm.ProductName.$invalid}">
                            <label>Product Name</label>
                            <select name="ProductName" ng-model="ProductTaxCreateOrEditViewModel.Product_ID" class="form-control" style="width: 100%;" ng-options="x.ID as x.Name for x in ProductNameDropDownViewModels" required>
                                <option value="" ng-selected="ProductTaxCreateOrEditViewModel.SelectedProduct_ID < 0">-- Select --</option>
                            </select>
                            <div class="help-block" ng-messages="myForm.ProductName.$error" ng-if="myForm.ProductName.$touched || myForm.ProductName.$dirty && myForm.ProductName.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Product_ID" ng-bind="errors.formErrors.Product_ID"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': (myForm.TaxName.$touched || myForm.TaxName.$dirty)  && myForm.TaxName.$invalid}">
                            <label>Tax Name</label>
                            <select name="TaxName" ng-model="ProductTaxCreateOrEditViewModel.Tax_ID" class="form-control" style="width: 100%;" ng-options="x.ID as x.Name for x in ProductNameDropDownViewModels" required>
                                <option value="" ng-selected="ProductTaxCreateOrEditViewModel.SelectedTax_ID < 0">-- Select --</option>
                            </select>
                            <div class="help-block" ng-messages="myForm.TaxName.$error" ng-if="myForm.TaxName.$touched || myForm.TaxName.$dirty && myForm.TaxName.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Tax_ID" ng-bind="errors.formErrors.Tax_ID"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': ((myForm.TaxValue.$touched && myForm.TaxValue.$invalid) || (!myForm.TaxValue.$pristine && myForm.TaxValue.$invalid))}">
                            <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />
                            <label>Tax Value</label>
                            <input type="text" class="form-control" name="TaxValue" ng-model="ProductTaxCreateOrEditViewModel.TaxValue" ng-disabled="Processing" autocomplete="off" placeholder="Enter TaxValue" tooltip-placement="top" uib-tooltip="Enter TaxValue" pattern="[A-Za-z 0-9]*$" required />
                            <div class="help-block" ng-messages="myForm.TaxValue.$error" ng-if="myForm.TaxValue.$touched || myForm.TaxValue.$dirty && myForm.TaxValue.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.TaxValue" ng-bind="errors.formErrors.TaxValue"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': ((myForm.StartDate.$touched && myForm.StartDate.$invalid) || (!myForm.StartDate.$pristine && myForm.StartDate.$invalid))}">
                            <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />
                            <label>Start Date</label>
                            <input type="datetime" class="form-control" name="StartDate" ng-model="ProductCreateOrEditViewModel.StartDate" ng-disabled="Processing" autocomplete="off" placeholder="Enter StartDate" tooltip-placement="top" uib-tooltip="Enter StartDate" pattern="[A-Za-z 0-9]*$" required />
                            <div class="help-block" ng-messages="myForm.StartDate.$error" ng-if="myForm.StartDate.$touched || myForm.StartDate.$dirty && myForm.StartDate.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.StartDate" ng-bind="errors.formErrors.StartDate"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': ((myForm.EndDate.$touched && myForm.EndDate.$invalid) || (!myForm.EndDate.$pristine && myForm.EndDate.$invalid))}">
                            <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />
                            <label>End Date</label>
                            <input type="datetime" class="form-control" name="EndDate" ng-model="ProductCreateOrEditViewModel.EndDate" ng-disabled="Processing" autocomplete="off" placeholder="Enter EndDate" tooltip-placement="top" uib-tooltip="Enter EndDate" pattern="[A-Za-z 0-9]*$" required />
                            <div class="help-block" ng-messages="myForm.EndDate.$error" ng-if="myForm.EndDate.$touched || myForm.EndDate.$dirty && myForm.EndDate.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.EndDate" ng-bind="errors.formErrors.EndDate"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-if="!Processing" class="btn btn-sm btn-success pull-left" ng-disabled="myForm.$invalid">Save</button>
                <span ng-if="Processing" class="btn btn-sm btn-success pull-left">Processing...</span>
                <button type="reset" class="btn btn-sm btn-default pull-left">Clear</button>
                <span class="btn btn-sm btn-default" data-dismiss="modal">Close</span>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>
