@functions{
    public string AntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<div class="modal-dialog">
    <div class="modal-content">
        <form name="myForm" ng-submit="myForm.$valid && createOreditAsyncForm()" novalidate>
            <!--myForm.$valid && -->
            <div class="modal-header">
                <button type="button" class="close" ng-click="ShowConfirm('modal-createOredit')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Comments Reply</h4>
            </div>
            <div class="modal-body">
                <!-- general form elements -->
                <div id="errorMessages" class="text-danger" ng-if="ValidationSummary" ng-repeat="vs in ValidationSummary">{{vs}}</div>
                <div class="box box-primary">
                    <div class="box-body">
                        <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />

                        <div class="form-group" ng-class="{'has-error': (myForm.BlogTitle.$touched || myForm.BlogTitle.$dirty)  && myForm.BlogTitle.$invalid}">
                            <label>Blog Title</label>
                            <select name="BlogTitle" ng-model="CommentsReplyCreateOrEditViewModel.Blog_Id" class="form-control" style="width: 100%;" ng-options="x.ID as x.BlogTitle for x in AllBlogTitle" ng-change="LoadAllBlogComment()" required>
                                <option value="" ng-selected="CommentsReplyCreateOrEditViewModel.SelectedBlog_Id < 0">-- Select --</option>
                            </select>
                            <div class="help-block" ng-messages="myForm.BlogTitle.$error" ng-if="myForm.BlogTitle.$touched || myForm.BlogTitle.$dirty && myForm.BlogTitle.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.SubSubCat_Id" ng-bind="errors.formErrors.SubSubCat_Id"></span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (myForm.BlogComment.$touched || myForm.BlogComment.$dirty)  && myForm.BlogComment.$invalid}">
                            <label>Blog Comment</label>
                            <select name="BlogComment" ng-model="CommentsReplyCreateOrEditViewModel.BCD_Id" class="form-control" style="width: 100%;" ng-options="x.ID as x.BlogComment for x in AllBlogComment" required>
                                <option value="" ng-selected="CommentsReplyCreateOrEditViewModel.SelectedBCD_Id < 0">-- Select --</option>
                            </select>
                            <div class="help-block" ng-messages="myForm.BlogComment.$error" ng-if="myForm.BlogComment.$touched || myForm.BlogComment.$dirty && myForm.BlogComment.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.BlogComment" ng-bind="errors.formErrors.BlogComment"></span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (myForm.Name.$touched || myForm.Name.$dirty)  && myForm.Name.$invalid}">
                            <label>Name</label>
                            <input type="text" class="form-control" name="Name" ng-model="CommentsReplyCreateOrEditViewModel.Name" ng-disabled="Processing" autocomplete="off" placeholder="Enter Name" tooltip-placement="top" disabled uib-tooltip="Enter Name" required />
                            <div class="help-block" ng-messages="myForm.Name.$error" ng-if="myForm.Name.$touched || myForm.Name.$dirty && myForm.Name.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Name" ng-bind="errors.formErrors.Name"></span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (myForm.EmailId.$touched || myForm.EmailId.$dirty)  && myForm.EmailId.$invalid}">
                            <label>Email Id</label>
                            <input type="text" class="form-control" name="EmailId" ng-model="CommentsReplyCreateOrEditViewModel.EmailId" ng-disabled="Processing" autocomplete="off" placeholder="Enter EmailId" tooltip-placement="top" disabled uib-tooltip="Enter EmailId" required />
                            <div class="help-block" ng-messages="myForm.EmailId.$error" ng-if="myForm.EmailId.$touched || myForm.EmailId.$dirty && myForm.EmailId.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.EmailId" ng-bind="errors.formErrors.EmailId"></span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (myForm.Comment.$touched || myForm.Comment.$dirty)  && myForm.Comment.$invalid}">
                            <label>Comment</label>
                            <input type="text" class="form-control" name="Comment" ng-model="CommentsReplyCreateOrEditViewModel.Comment" ng-disabled="Processing" autocomplete="off" placeholder="Enter Comment" tooltip-placement="top" disabled uib-tooltip="Enter Comment" required />
                            <div class="help-block" ng-messages="myForm.Comment.$error" ng-if="myForm.Comment.$touched || myForm.Comment.$dirty && myForm.Comment.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Comment" ng-bind="errors.formErrors.Comment"></span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (myForm.DisplayIndex.$touched || myForm.DisplayIndex.$dirty)  && myForm.DisplayIndex.$invalid}">
                            <label>Display Index</label>
                            <input type="number" min="0" class="form-control" name="DisplayIndex" ng-model="CommentsReplyCreateOrEditViewModel.DisplayIndex" ng-disabled="Processing" autocomplete="off" placeholder="Enter Display Index" tooltip-placement="top" uib-tooltip="Enter Display Index" required />
                            <div class="help-block" ng-messages="myForm.DisplayIndex.$error" ng-if="myForm.DisplayIndex.$touched || myForm.Description.$dirty && myForm.DisplayIndex.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.DisplayIndex" ng-bind="errors.formErrors.DisplayIndex"></span>
                        </div>
                        <div class="form-group">
                            <label>Is Active</label><br />
                            <label>
                                <!--https://codepen.io/mosluce/pen/yYmXGz-->
                                <input icheck type="checkbox" class="form-control" ng-model="CommentsReplyCreateOrEditViewModel.IsActive" ng-checked="CommentsReplyCreateOrEditViewModel.IsActive"><span style="margin-left: 10px;">{{CommentsReplyCreateOrEditViewModel.IsActive ? 'Yes' : 'No'}} </span>
                            </label>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (myForm.TotalViews.$touched || myForm.TotalViews.$dirty)  && myForm.TotalViews.$invalid}">
                            <label>Total Views</label>
                            <input type="number" min="0" class="form-control" name="TotalViews" ng-model="CommentsReplyCreateOrEditViewModel.TotalViews" ng-disabled="Processing" autocomplete="off" placeholder="Enter Total Views" tooltip-placement="top" uib-tooltip="Enter Total Views" required />
                            <div class="help-block" ng-messages="myForm.TotalViews.$error" ng-if="myForm.TotalViews.$touched || myForm.TotalViews.$dirty && myForm.TotalViews.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.TotalViews" ng-bind="errors.formErrors.TotalViews"></span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (myForm.Url.$touched || myForm.Url.$dirty)  && myForm.Url.$invalid}">
                            <label>Url</label>
                            <input type="text" class="form-control" name="Url" ng-model="CommentsReplyCreateOrEditViewModel.Url" ng-disabled="Processing" autocomplete="off" placeholder="Enter Url" tooltip-placement="top" disabled uib-tooltip="Enter Url" required />
                            <div class="help-block" ng-messages="myForm.Url.$error" ng-if="myForm.Url.$touched || myForm.Url.$dirty && myForm.Url.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Url" ng-bind="errors.formErrors.Url"></span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (myForm.Metadata.$touched || myForm.Metadata.$dirty)  && myForm.TotalViews.$invalid}">
                            <label>Metadata</label>
                            <input type="text" class="form-control" name="Metadata" ng-model="CommentsReplyCreateOrEditViewModel.Metadata" ng-disabled="Processing" autocomplete="off" placeholder="Enter Metadata" tooltip-placement="top" uib-tooltip="Enter Metadata" required />
                            <div class="help-block" ng-messages="myForm.Metadata.$error" ng-if="myForm.Metadata.$touched || myForm.Metadata.$dirty && myForm.Metadata.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Metadata" ng-bind="errors.formErrors.Metadata"></span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (myForm.MetaDescription.$touched || myForm.MetaDescription.$dirty)  && myForm.MetaDescription.$invalid}">
                            <label>Meta Description</label>
                            <input type="text" class="form-control" name="MetaDescription" ng-model="CommentsReplyCreateOrEditViewModel.MetaDescription" ng-disabled="Processing" autocomplete="off" placeholder="Enter Meta Description" tooltip-placement="top" uib-tooltip="Enter Meta Description" required />
                            <div class="help-block" ng-messages="myForm.MetaDescription.$error" ng-if="myForm.MetaDescription.$touched || myForm.MetaDescription.$dirty && myForm.MetaDescription.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.MetaDescription" ng-bind="errors.formErrors.MetaDescription"></span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (myForm.Keyword.$touched || myForm.Keyword.$dirty)  && myForm.Keyword.$invalid}">
                            <label>Keyword</label>
                            <input type="text" class="form-control" name="Keyword" ng-model="CommentsReplyCreateOrEditViewModel.Keyword" ng-disabled="Processing" autocomplete="off" placeholder="Enter Keyword" tooltip-placement="top" uib-tooltip="Enter Keyword" required />
                            <div class="help-block" ng-messages="myForm.Keyword.$error" ng-if="myForm.Keyword.$touched || myForm.Keyword.$dirty && myForm.Keyword.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Keyword" ng-bind="errors.formErrors.Keyword"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-if="!Processing" class="btn btn-sm btn-success pull-left" ng-disabled="myForm.$invalid">Save</button>
                <span ng-if="Processing" class="btn btn-sm btn-success pull-left">Processing...</span>
                <button ng-click="Clear()" class="btn btn-sm btn-default pull-left">Clear</button>
                <span class="btn btn-sm btn-danger" ng-click="ShowConfirm('modal-createOredit')">Close</span>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>
