@functions{

    public string AntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<div class="modal-dialog">
    <div class="modal-content">
        <form name="myForm" ng-submit="myForm.$valid && createOreditAsyncForm()" novalidate>
            <!--myForm.$valid && -->
            <div class="modal-header">
                <button type="button" class="close" ng-click="ShowConfirm('modal-createOredit')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Unit Of Measurement Details</h4>
            </div>
            <div class="modal-body">
                <!-- general form elements -->
                <div id="errorMessages" class="text-danger" ng-if="ValidationSummary" ng-repeat="vs in ValidationSummary">{{vs}}</div>
                <div class="box box-primary">
                    <div class="box-body">
                        <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />
                        <div class="form-group" ng-class="{'has-error': (myForm.TenantName.$touched || myForm.TenantName.$dirty)  && myForm.TenantName.$invalid}">
                            <label>Tenant Name</label>
                            <select name="TenantName" ng-model="UnitOfMeasurementCreateOrEditViewModel.Tenant_ID" class="form-control" style="width: 100%;" ng-options="x.ID as x.Name for x in AllTenants" required>
                                <option value="" ng-selected="UnitOfMeasurementCreateOrEditViewModel.SelectedTenant_ID < 0">-- Select --</option>
                            </select>
                            <div class="help-block" ng-messages="myForm.TenantName.$error" ng-if="myForm.TenantName.$touched || myForm.TenantName.$dirty && myForm.TenantName.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Tenant_ID" ng-bind="errors.formErrors.Tenant_ID"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': (myForm.DisplayName.$touched || myForm.DisplayName.$dirty)  && myForm.DisplayName.$invalid}">
                            <label>Name</label>
                            <input type="text" class="form-control" name="DisplayName" ng-model="UnitOfMeasurementCreateOrEditViewModel.DisplayName" ng-disabled="Processing" autocomplete="off" placeholder="Enter Unit Of Measurement Name" tooltip-placement="top" uib-tooltip="Enter Unit Of Measurement Name" pattern="[A-Za-z ]*$" required />
                            <div class="help-block" ng-messages="myForm.DisplayName.$error" ng-if="myForm.DisplayName.$touched || myForm.DisplayName.$dirty && myForm.DisplayName.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.DisplayName" ng-bind="errors.formErrors.DisplayName"></span>
                        </div>

                        @*<div class="form-group" ng-class="{'has-error': (myForm.Code.$touched || myForm.Code.$dirty)  && myForm.Code.$invalid}">
                                <label>Code</label>
                                <input type="text" class="form-control" name="Code" ng-model="UnitOfMeasurementCreateOrEditViewModel.Code" ng-disabled="Processing" autocomplete="off" placeholder="Enter Vendor Code" tooltip-placement="top" uib-tooltip="Enter Vendor Code" pattern="[0-9]*$" required />
                                <div class="help-block" ng-messages="myForm.Code.$error" ng-if="myForm.Code.$touched || myForm.Code.$dirty && myForm.Code.$invalid">
                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                </div>
                                <span class="text-danger" ng-show="errors.formErrors.Code" ng-bind="errors.formErrors.Code"></span>
                            </div>*@

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-if="!Processing" class="btn btn-sm btn-success pull-left" ng-disabled="myForm.$invalid">Save</button>
                <span ng-if="Processing" class="btn btn-sm btn-success pull-left">Processing...</span>
                <button type="reset" class="btn btn-sm btn-default pull-left">Clear</button>
                <span class="btn btn-sm btn-danger" ng-click="ShowConfirm('modal-createOredit')">Close</span>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>
