@functions{

    public string AntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}


<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="col-md-6">
            <!-- Custom Tabs -->
            <!-- nav-tabs-custom -->
        </div>
        <div class="modal-header">
            <button type="button" class="close" ng-click="ShowConfirm('modal-createOreditAddress')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Address Details</h4>
        </div>
        <div class="modal-body">
        
                    <form name="myFormAddress" ng-submit="myFormAddress.$valid && createOreditAddressAsyncForm()" novalidate>
                        <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn-sm btn-group">
                                    <button type="button" data-toggle="modal" ng-click="CreateAddressPOPUP()">
                                        <i class="fa fa-plus" ng-class="{'fa fa-minus':(AddressAddFlag)}"></i>
                                    </button>
                                </div>
                                <div class="box-body" ng-show="AddressAddFlag">

                                    <div id="errorMessages" class="text-danger" ng-if="ValidationSummary" ng-repeat="vs in ValidationSummary">{{vs}}</div>

                                    <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myFormAddress.AddressTypeValue.$touched || myFormAddress.AddressTypeValue.$dirty)  && myFormAddress.AddressTypeValue.$invalid}">
                                        <label>Address Type</label>
                                        <select name="AddressTypeValue" ng-model="AddressCreateOrEditViewModel.AddressTypeValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllAddressType" required>
                                            <option value="" ng-selected="AddressCreateOrEditViewModel.SelectedAddressTypeValue_ID < 0">-- Select --</option>
                                        </select>
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myFormAddress.AddressTypeValue.$error" ng-if="myFormAddress.AddressTypeValue.$touched || myFormAddress.AddressTypeValue.$dirty && myFormAddress.AddressTypeValue.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.AddressCreateOrEditViewModel.AddressTypeValue" ng-bind="errors.formErrors.AddressCreateOrEditViewModel.AddressTypeValue"></span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': (myFormAddress.FirstName.$touched || myFormAddress.FirstName.$dirty)  && myFormAddress.FirstName.$invalid}">
                                        <label>Attention</label>
                                        <input type="text" class="form-control" name="Attention" ng-model="AddressCreateOrEditViewModel.Attention" ng-disabled="Processing" autocomplete="off" placeholder="Enter Attention" tooltip-placement="top" uib-tooltip="Enter Attention" required />
                                        <div class="help-block" ng-messages="myFormAddress.Attention.$error" ng-if="myFormAddress.Attention.$touched || myFormAddress.Attention.$dirty && myFormAddress.Attention.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.Attention" ng-bind="errors.formErrors.Attention"></span>
                                    </div>
                                    <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myFormAddress.CountryValue.$touched || myFormAddress.CountryValue.$dirty)  && myFormAddress.CountryValue.$invalid}">
                                        <label>Country</label>
                                        <select name="CountryValue" ng-model="AddressCreateOrEditViewModel.CountryValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllCountry" ng-change="LoadStates()" required>
                                            <option value="" ng-selected="AddressCreateOrEditViewModel.SelectedCountryValue_ID < 0">-- Select --</option>
                                        </select>
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myFormAddress.CountryValue.$error" ng-if="myFormAddress.CountryValue.$touched || myFormAddress.CountryValue.$dirty && myFormAddress.CountryValue.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.AddressCreateOrEditViewModel.CountryValue" ng-bind="errors.formErrors.AddressCreateOrEditViewModel.CountryValue"></span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': (myFormAddress.Street1.$touched || myFormAddress.Street1.$dirty)  && myFormAddress.Street1.$invalid}">
                                        <label>Street 1</label>
                                        <input type="text" class="form-control" name="Street1" ng-model="AddressCreateOrEditViewModel.Street1" ng-disabled="Processing" autocomplete="off" placeholder="Enter Street 1" tooltip-placement="top" uib-tooltip="Enter Street 1" required />
                                        <div class="help-block" ng-messages="myFormAddress.Street1.$error" ng-if="myFormAddress.Street1.$touched || myFormAddress.Street1.$dirty && myFormAddress.Street1.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.Street1" ng-bind="errors.formErrors.Street1"></span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': (myFormAddress.Street2.$touched || myFormAddress.Street2.$dirty)  && myFormAddress.Street2.$invalid}">
                                        <label>Street 2</label>
                                        <input type="text" class="form-control" name="Street2" ng-model="AddressCreateOrEditViewModel.Street2" ng-disabled="Processing" autocomplete="off" placeholder="Enter Street 2" tooltip-placement="top" uib-tooltip="Enter Street 2" required />
                                        <div class="help-block" ng-messages="myFormAddress.Street2.$error" ng-if="myFormAddress.Street2.$touched || myFormAddress.Street2.$dirty && myFormAddress.Street2.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.Street2" ng-bind="errors.formErrors.Street2"></span>
                                    </div>
                                    <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myFormAddress.StateValue.$touched || myFormAddress.StateValue.$dirty)  && myFormAddress.StateValue.$invalid}">
                                        <label>State</label>
                                        <select name="StateValue" ng-model="AddressCreateOrEditViewModel.StateValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllState" ng-change="LoadCityOrDistrict()" required>
                                            <option value="" ng-selected="AddressCreateOrEditViewModel.SelectedStateValue_ID < 0">-- Select --</option>
                                        </select>
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myFormAddress.StateValue.$error" ng-if="myFormAddress.StateValue.$touched || myFormAddress.StateValue.$dirty && myFormAddress.StateValue.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.AddressCreateOrEditViewModel.StateValue" ng-bind="errors.formErrors.AddressCreateOrEditViewModel.StateValue"></span>
                                    </div>
                                    <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myFormAddress.CityValue.$touched || myFormAddress.CityValue.$dirty)  && myFormAddress.CityValue.$invalid}">
                                        <label>City</label>
                                        <select name="CityValue" ng-model="AddressCreateOrEditViewModel.CityOrDistrictValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllCity" required>
                                            <option value="" ng-selected="AddressCreateOrEditViewModel.SelectedCityOrDistrict_ID < 0">-- Select --</option>
                                        </select>
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myFormAddress.CityValue.$error" ng-if="myFormAddress.CityValue.$touched || myFormAddress.CityValue.$dirty && myFormAddress.CityValue.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.AddressCreateOrEditViewModel.CityOrDistrictValue" ng-bind="errors.formErrors.AddressCreateOrEditViewModel.CityOrDistrictValue"></span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': (myFormAddress.ZipCode.$touched || myFormAddress.ZipCode.$dirty)  && myFormAddress.ZipCode.$invalid}">
                                        <label>Zip Code</label>
                                        <input type="text" class="form-control" name="ZipCode" ng-model="AddressCreateOrEditViewModel.ZipCode" ng-disabled="Processing" autocomplete="off" placeholder="Enter Zip Code" tooltip-placement="top" uib-tooltip="Enter Zip Code" pattern="^[1-9][0-9]{5}$" required />
                                        <div class="help-block" ng-messages="myFormAddress.ZipCode.$error" ng-if="myFormAddress.ZipCode.$touched || myFormAddress.ZipCode.$dirty && myFormAddress.ZipCode.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.ZipCode" ng-bind="errors.formErrors.ZipCode"></span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': (myFormAddress.Phone.$touched || myFormAddress.Phone.$dirty)  && myFormAddress.Phone.$invalid}">
                                        <label>Phone&nbsp;Number</label>
                                        <input type="text" class="form-control" name="Phone" ng-model="AddressCreateOrEditViewModel.Phone" ng-disabled="Processing" autocomplete="off" placeholder="Enter Phone" tooltip-placement="top" uib-tooltip="Enter Phone" pattern="[0-9]{8}" />
                                        <div class="help-block" ng-messages="myFormAddress.Phone.$error" ng-if="myFormAddress.Phone.$touched || myFormAddress.Phone.$dirty && myFormAddress.Phone.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.Phone" ng-bind="errors.formErrors.Phone"></span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': (myFormAddress.Fax.$touched || myFormAddress.Fax.$dirty) && myFormAddress.Fax.$invalid}">
                                        <label>Fax</label>
                                        <input type="text" class="form-control" name="Fax" ng-model="AddressCreateOrEditViewModel.Fax" ng-disabled="Processing" autocomplete="off" placeholder="Enter FAX" tooltip-placement="top" uib-tooltip="Enter FAX" required />
                                        <div class="help-block" ng-messages="myFormAddress.Fax.$error" ng-if="myFormAddress.Fax.$touched || myFormAddress.Fax.$dirty && myFormAddress.Fax.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.Fax" ng-bind="errors.formErrors.Fax"></span>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" ng-if="!Processing" class="btn btn-sm btn-success" ng-disabled="myFormAddress.$invalid">Save</button>
                                        <span ng-if="Processing" class="btn btn-sm btn-success">Processing...</span>
                                        <button type="reset" class="btn btn-sm btn-default" ng-click="ResetAddress()">Clear</button>
                                        <span class="btn btn-sm btn-danger pull-right" ng-click="ShowConfirm('modal-createOreditAddress')">Close</span>
                                    </div>
                                </div>
                                <div class="box-body" ng-show="!AddressAddFlag">
                                  <div class="row">
                                    <div class="col-sm-4" ng-repeat="address in AllAddress">
                                        <div class="card" style="border: 1px solid #ccc;padding: 6px;">
                                            <div class="card-body">
                                                <p class="card-text">{{address.FullAddress}}</p>
                                                <p class="card-text"><span ng-show="address.Phone != null || address.Phone !=string.empty()">Phone:</span>&nbsp;{{address.Phone}}&nbsp;&nbsp;<span ng-show="address.Fax != null || address.Fax !=string.empty()">Fax:</span>&nbsp;{{address.Fax}}</p>
                                                <button type="button" class="btn btn-sm btn-success" ng-click="SelectAddressAsync(address.ID)">Select</button>
                                                <button type="button" class="btn btn-sm btn-success" ng-click="EditAddressAsync(address.ID)">Edit</button>
                                            </div>
                                        </div>
                                       
                                    </div>
                                     

                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>

                    </form>
                  
                <!-- general form elements -->
            </div>

        </div>
    <!-- /.modal-content -->
</div>
