<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Configuration</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            @*<div ng:controller="NavigationController">
                    <ul class="navigation">
                        <li ng-repeat="item in items" class="item" ng-class="{'active': item.id == states.activeItem}" ng-click="states.activeItem=item.id">{{item.title}}</li>
                    </ul>
                </div>*@


            <li><a href="~/Configurations/Master/Customer/Index"><i class="fa fa-users"></i>Customers</a></li>

            @*<li><a href="~/Customer/Index"><i class="fa fa-circle-o"></i>Customer</a></li>*@
            <li><a href="~/TypeMaster/Index"><i class="fa fa-circle-o"></i>Transaction Types</a></li>
            <li><a href="~/TransactionStatusMaster/Index"><i class="fa fa-circle-o"></i>Transaction Status</a></li>
            <li><a href="~/UoM/Index"><i class="fa fa-circle-o"></i>Units of Measure</a></li>
            <li><a href="~/Settings/Security/Roles/Index"><i class="fa fa-key"></i>Roles</a></li>
            <li><a href="~/Settings/Security/Users/Index"><i class="fa fa-user-circle-o"></i>Users</a></li>
            <li><a href="~/Status/Index"><i class="fa fa-circle-o"></i>Product Status</a></li>
            <li><a href="~/PartyType/Index"><i class="fa fa-circle-o"></i>Party Types</a></li>
            <li><a href="~/TransactionTypeToPartyType/Index"><i class="fa fa-circle-o"></i>Allowed Transaction Types</a></li>
            @*<li><a href="~/ItemMasters/Index"><i class="fa fa-circle-o"></i>Item Master</a></li>*@
            @*<li><a href="~/Supplier/Index"><i class="fa fa-circle-o"></i>Supplier Master</a></li>
                <li><a href="~/SupplierItems/Index"><i class="fa fa-circle-o"></i>Supplier Items</a></li>
                <li><a href="~/SupplierContact/Index"><i class="fa fa-circle-o"></i>Supplier Contact</a></li>
                <li><a href="~/PurchaseRequisitionDetails/Index"><i class="fa fa-circle-o"></i>Purchase Requisition Details</a></li>
                <li><a href="~/AddToStockDetails/Index"><i class="fa fa-circle-o"></i>Add To Stock Details</a></li>
                <li><a href="~/ClientMaster/Index"><i class="fa fa-circle-o"></i>Client Master</a></li>
                <li><a href="~/ClientContacts/Index"><i class="fa fa-circle-o"></i>Client Contacts</a></li>*@
            @*<li><a href="~/TransactionStatusMaster/Index"><i class="fa fa-circle-o"></i>Transaction Status Master</a></li>
                <li><a href="~/Party/Index"><i class="fa fa-circle-o"></i>Party Master</a></li>
                <li><a href="~/PartyContacts/Index"><i class="fa fa-circle-o"></i>Party Contacts</a></li>
                <li><a href="~/PartyItem/Index"><i class="fa fa-circle-o"></i>Party Item</a></li>
                <li><a href="~/AddToStock/Index"><i class="fa fa-circle-o"></i>AddToStock</a></li>*@
            @*<li><a href="~/AddToStockTransactions/Index"><i class="fa fa-circle-o"></i>AddToStock Transactions</a></li>*@
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Master</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Location/Index"><i class="fa fa-circle-o"></i>Locations</a></li>
            <li><a href="~/Category/Index"><i class="fa fa-circle-o"></i>Product Categories</a></li>
            <li><a href="~/SubCategory/Index"><i class="fa fa-circle-o"></i>Product Sub Categories</a></li>
            <li><a href="~/Settings/Security/Roles/MyRoles"><i class="fa fa-key"></i>My Roles</a></li>
            <li><a href="~/Settings/Security/Users/MyUsers"><i class="fa fa-user-circle-o"></i>My Users</a></li>
            <li><a href="~/ItemMasters/Index"><i class="fa fa-circle-o"></i>Items</a></li>
            <li><a href="~/Party/Index"><i class="fa fa-circle-o"></i>Parties</a></li>
            <li><a href="~/PartyContacts/Index"><i class="fa fa-circle-o"></i>Party Contacts</a></li>
            <li><a href="~/PartyItem/Index"><i class="fa fa-circle-o"></i>Vendor Items</a></li>
            <li><a href="~/Settings/Master/Product/MyProducts"><i class="fa fa-circle-o"></i>My Products</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Transactions</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/AddToStock/Index"><i class="fa fa-circle-o"></i>Add To Stock</a></li>
            <li><a href="~/RemoveFromStock/Index"><i class="fa fa-circle-o"></i>Remove From Stock</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Reports</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Reports/CurrentStock/Index"><i class="fa fa-circle-o"></i>Current Stock</a></li>
        </ul>
    </li>





</ul>

