@functions{

    public string AntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}



<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form class="form-horizontal" name="myForm" ng-submit="myForm.$valid && createOreditAsyncForm()" novalidate>
            <!--myForm.$valid && -->
            <div class="modal-header">
                <button type="button" class="close" ng-click="ShowConfirm('modal-createOredit')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Sales Order Details</h4>
            </div>
            <div class="modal-body">
                <!-- general form elements -->
                <div id="errorMessages" class="text-danger" ng-if="ValidationSummary" ng-repeat="vs in ValidationSummary">{{vs}}</div>
                <div class="box box-primary">
                    <div class="box-body">
                        <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.CustomerName.$touched || myForm.CustomerName.$dirty)  && myForm.CustomerName.$invalid}">
                                    <label class="col-sm-4 control-label">Customer&nbsp;Name</label>
                                    <div class="col-sm-8">
                                        <select name="CustomerName" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.Customer_ID" class="form-control" style="width: 100%;" ng-options="x.ID as x.Name for x in AllCustomers" ng-change="LoadProducts()" ng-disabled="SalesOrderCreateOrEditViewModel.SalesOrderBody.length > 0" required>
                                            <option value="" ng-selected="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SelectedCustomer_ID < 0">-- Select --</option>
                                        </select>
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.CustomerName.$error" ng-if="myForm.CustomerName.$touched || myForm.CustomerName.$dirty && myForm.CustomerName.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.Customer_ID" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.Customer_ID"></span>
                                    </div>
                                </div>
                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.PurchaseOrder.$touched || myForm.PurchaseOrder.$dirty)  && myForm.PurchaseOrder.$invalid}">
                                    <label class="col-sm-4 control-label">Purchase Order</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="PurchaseOrder" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.PurchaseOrder" ng-disabled="Processing" autocomplete="off" placeholder="Enter Purchase Order" tooltip-placement="top" uib-tooltip="Enter Purchase Order" required />
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.PurchaseOrder.$error" ng-if="myForm.PurchaseOrder.$touched || myForm.PurchaseOrder.$dirty && myForm.PurchaseOrder.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.PurchaseOrder" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.PurchaseOrder"></span>
                                    </div>
                                </div>
                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.SourceOfSupplyValue.$touched || myForm.SourceOfSupplyValue.$dirty)  && myForm.SourceOfSupplyValue.$invalid}">
                                    <label class="col-sm-4 control-label">Source Of Supply</label>
                                    <div class="col-sm-8">
                                        <select name="SourceOfSupplyValue" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SourceOfSupplyValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllSourceOfSupply" required>
                                            <option value="" ng-selected="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SelectedSourceOfSupply_ID < 0">-- Select --</option>
                                        </select>
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.SourceOfSupplyValue.$error" ng-if="myForm.SourceOfSupplyValue.$touched || myForm.SourceOfSupplyValue.$dirty && myForm.SourceOfSupplyValue.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.SourceOfSupplyValue" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.SourceOfSupplyValue"></span>
                                    </div>
                                </div>
                                <div class="form-group pourchaseOrder-form-group" ng-show="SalesOrderCreateOrEditViewModel.SalesOrderHeader.Customer_ID>0">
                                    <label class="col-sm-4 control-label">Billing Address</label>
                                    <div class="col-sm-8">
                                        <div class="card" style="border: 1px solid #ccc;padding: 6px;">
                                            <div class="card-body">
                                                @*<h5 class="card-title">Special title treatment</h5>*@
                                                <p class="card-text">{{BillingAddress.FullAddress}}</p>
                                                <p class="card-text"><span ng-show="BillingAddress.Phone != null || BillingAddress.Phone !=string.empty()">Phone:</span>&nbsp;{{BillingAddress.Phone}}&nbsp;&nbsp;<span ng-show="BillingAddress.Fax != null || BillingAddress.Fax !=string.empty()">Fax:</span>&nbsp;{{BillingAddress.Fax}}</p>
                                            </div>
                                        </div>
                                        <span class="label label-success" style="cursor:pointer;" data-toggle="modal" ng-click="CreateBillingAddress()">Change Address</span>
                                    </div>
                                    @*<div class="form-group" ng-class="{'has-error': (myForm.BillingAddressAttention.$touched || myForm.BillingAddressAttention.$dirty)  && myForm.BillingAddressAttention.$invalid}">
                                            <label class="col-sm-4 control-label">Attention</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="BillingAddressAttention" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressAttention" ng-disabled="Processing" autocomplete="off" placeholder="Enter Attention Billing Address" tooltip-placement="top" uib-tooltip="Enter Billing Address Attention" />
                                                <div class="help-block" ng-messages="myForm.BillingAddressAttention.$error" ng-if="myForm.BillingAddressAttention.$touched || myForm.BillingAddressAttention.$dirty && myForm.BillingAddressAttention.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.Attention" ng-bind="errors.formErrors.Attention"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.BillingAddressCountryValue.$touched || myForm.BillingAddressCountryValue.$dirty)  && myForm.BillingAddressCountryValue.$invalid}">
                                            <label class="col-sm-4 control-label">Country</label>
                                            <div class="col-sm-8">
                                                <input data-ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressCountry_ID" type="hidden" data-ng-init="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressCountry_ID='1009'" />
                                                <select name="BillingAddressCountryValue" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressCountryValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllBillingCountry" ng-change="LoadBillingStates()" required>
                                                    <option value="" ng-selected="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SelectedBillingAddressCountryValue_ID < 0">-- Select --</option>
                                                </select>
                                                <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.BillingAddressCountryValue.$error" ng-if="myForm.BillingAddressCountryValue.$touched || myForm.BillingAddressCountryValue.$dirty && myForm.BillingAddressCountryValue.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressCountryValue" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressCountryValue"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.BillingAddressStreet1.$touched || myForm.BillingAddressStreet1.$dirty)  && myForm.BillingAddressStreet1.$invalid}">
                                            <label class="col-sm-4 control-label">Street 1</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="BillingAddressStreet1" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressStreet1" ng-disabled="Processing" autocomplete="off" placeholder="Enter Billing Address Street 1" tooltip-placement="top" uib-tooltip="Enter Billing Address Street 1" required />
                                                <div class="help-block" ng-messages="myForm.BillingAddressStreet1.$error" ng-if="myForm.BillingAddressStreet1.$touched || myForm.BillingAddressStreet1.$dirty && myForm.BillingAddressStreet1.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.BillingAddressStreet1" ng-bind="errors.formErrors.BillingAddressStreet1"></span>
                                            </div>
                                        </div>

                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.BillingAddressStreet2.$touched || myForm.BillingAddressStreet2.$dirty)  && myForm.BillingAddressStreet2.$invalid}">
                                            <label class="col-sm-4 control-label">Street 2</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="BillingAddressStreet2" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressStreet2" ng-disabled="Processing" autocomplete="off" placeholder="Enter Billing Address Street 2" tooltip-placement="top" uib-tooltip="Enter Billing Address Street 2" required />
                                                <div class="help-block" ng-messages="myForm.BillingAddressStreet2.$error" ng-if="myForm.BillingAddressStreet2.$touched || myForm.BillingAddressStreet2.$dirty && myForm.BillingAddressStreet2.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.BillingAddressStreet2" ng-bind="errors.formErrors.BillingAddressStreet2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.BillingAddressStateValue.$touched || myForm.BillingAddressStateValue.$dirty)  && myForm.BillingAddressStateValue.$invalid}">
                                            <label class="col-sm-4 control-label">State</label>
                                            <div class="col-sm-8">
                                                <input data-ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressState_ID" type="hidden" data-ng-init="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressState_ID='1010'" />
                                                <select name="BillingAddressStateValue" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressStateValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllBillingState" ng-change="LoadCityOrDistrictBilling()" required>
                                                    <option value="" ng-selected="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SelectedBillingAddressStateValue_ID < 0">-- Select --</option>
                                                </select>
                                                <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.BillingAddressStateValue.$error" ng-if="myForm.BillingAddressStateValue.$touched || myForm.BillingAddressStateValue.$dirty && myForm.BillingAddressStateValue.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressStateValue" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressStateValue"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.BillingAddressCityOrDistrictValue.$touched || myForm.BillingAddressCityOrDistrictValue.$dirty)  && myForm.BillingAddressCityOrDistrictValue.$invalid}">
                                            <label class="col-sm-4 control-label">City</label>
                                            <div class="col-sm-8">
                                                <input data-ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressCityOrDistrict_ID" type="hidden" data-ng-init="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressCityOrDistrict_ID='1011'" />
                                                <select name="BillingAddressCityOrDistrictValue" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressCityOrDistrictValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllBillingCity" required>
                                                    <option value="" ng-selected="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SelectedBillingAddressCityOrDistrictValue_ID < 0">-- Select --</option>
                                                </select>
                                                <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.BillingAddressCityOrDistrictValue.$error" ng-if="myForm.BillingAddressCityOrDistrictValue.$touched || myForm.BillingAddressCityOrDistrictValue.$dirty && myForm.BillingAddressCityOrDistrictValue.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.CityOrDistrictValue" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.CityOrDistrictValue"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.BillingAddressZipCode.$touched || myForm.BillingAddressZipCode.$dirty)  && myForm.BillingAddressZipCode.$invalid}">
                                            <label class="col-sm-4 control-label">Zip Code</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="BillingAddressZipCode" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressZipCode" ng-disabled="Processing" autocomplete="off" placeholder="Enter Billing Address Zip Code" tooltip-placement="top" uib-tooltip="Enter Billing Address Zip Code" pattern="^[1-9][0-9]{5}$" required />
                                                <div class="help-block" ng-messages="myForm.BillingAddressZipCode.$error" ng-if="myForm.BillingAddressZipCode.$touched || myForm.BillingAddressZipCode.$dirty && myForm.BillingAddressZipCode.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.BillingAddressZipCode" ng-bind="errors.formErrors.BillingAddressZipCode"></span>
                                            </div>
                                        </div>

                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.BillingAddressPhone.$touched || myForm.BillingAddressPhone.$dirty)  && myForm.BillingAddressPhone.$invalid}">
                                            <label class="col-sm-4 control-label">Phone&nbsp;Number</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="BillingAddressPhone" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressPhone" ng-disabled="Processing" autocomplete="off" placeholder="Enter Billing Phone" tooltip-placement="top" uib-tooltip="Enter Billing Phone" pattern="[0-9]{8}" />
                                                <div class="help-block" ng-messages="myForm.BillingAddressPhone.$error" ng-if="myForm.BillingAddressPhone.$touched || myForm.BillingAddressPhone.$dirty && myForm.BillingAddressPhone.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.BillingAddressPhone" ng-bind="errors.formErrors.BillingAddressPhone"></span>
                                            </div>
                                        </div>

                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.BillingAddressFax.$touched || myForm.BillingAddressFax.$dirty) && myForm.BillingAddressFax.$invalid}">
                                            <label class="col-sm-4 control-label">Fax</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="BillingAddressFax" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.BillingAddressFax" ng-disabled="Processing" autocomplete="off" placeholder="Enter Billing FAX" tooltip-placement="top" uib-tooltip="Enter Billing FAX" required />
                                                <div class="help-block" ng-messages="myForm.BillingAddressFax.$error" ng-if="myForm.BillingAddressFax.$touched || myForm.BillingAddressFax.$dirty && myForm.BillingAddressFax.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.BillingAddressFax" ng-bind="errors.formErrors.BillingAddressFax"></span>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ReferenceValue.$touched || myForm.ReferenceValue.$dirty)  && myForm.ReferenceValue.$invalid}">
                                    <label class="col-sm-4 control-label">Reference</label>
                                    <div class="col-sm-8">
                                        <select name="ReferenceValue" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ReferenceValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllRefernceTypes" required>
                                            <option value="" ng-selected="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SelectedReference_ID < 0">-- Select --</option>
                                        </select>
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.ReferenceValue.$error" ng-if="myForm.ReferenceValue.$touched || myForm.ReferenceValue.$dirty && myForm.ReferenceValue.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.ReferenceValue" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.ReferenceValue"></span>
                                    </div>
                                </div>
                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.DeliveryMethodValue.$touched || myForm.DeliveryMethodValue.$dirty)  && myForm.DeliveryMethodValue.$invalid}">
                                    <label class="col-sm-4 control-label">Delivery Method</label>
                                    <div class="col-sm-8">
                                        <select name="DeliveryMethodValue" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.DeliveryMethodValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllDeliveryMethod" required>
                                            <option value="" ng-selected="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SelectedDeliveryMethod_ID < 0">-- Select --</option>
                                        </select>
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.DeliveryMethodValue.$error" ng-if="myForm.DeliveryMethodValue.$touched || myForm.DeliveryMethodValue.$dirty && myForm.DeliveryMethodValue.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.DeliveryMethodValue" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.DeliveryMethodValue"></span>
                                    </div>
                                </div>


                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.SalesOrderDate.$touched || myForm.SalesOrderDate.$dirty)  && myForm.SalesOrderDate.$invalid}">
                                    <label class="col-sm-4 control-label">Sales Order&nbsp;Date</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control pull-right" name="SalesOrderDate" ng-Date="" dpFormat="dd/mm/yyyy" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SalesOrderDate" ng-disabled="Processing" placeholder="Enter Sales Order Date" tooltip-placement="top" uib-tooltip="Enter Sales Order Date" required />
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.SalesOrderDate.$error" ng-if="myForm.SalesOrderDate.$touched || myForm.SalesOrderDate.$dirty && myForm.SalesOrderDate.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.SalesOrderDate" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.SalesOrderDate"></span>
                                    </div>
                                </div>

                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ShipmentDate.$touched || myForm.ShipmentDate.$dirty)  && myForm.ShipmentDate.$invalid}">
                                    <label class="col-sm-4 control-label">Shipment&nbsp;Date</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control pull-right" name="ShipmentDate" ng-Date="" dpFormat="dd/mm/yyyy" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShipmentDate" ng-disabled="Processing" placeholder="Enter Sales Order Date" tooltip-placement="top" uib-tooltip="Enter Sales Order Date" required />
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.ShipmentDate.$error" ng-if="myForm.ShipmentDate.$touched || myForm.ShipmentDate.$dirty && myForm.ShipmentDate.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShipmentDate" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShipmentDate"></span>
                                    </div>
                                </div>
                                <div class="form-group pourchaseOrder-form-group" ng-show="SalesOrderCreateOrEditViewModel.SalesOrderHeader.Customer_ID>0">
                                    <label class="col-sm-4 control-label">Shipping Address</label>
                                    <div class="col-sm-8">
                                        <div class="card" style="border: 1px solid #ccc;padding: 6px;">
                                            <div class="card-body">
                                                @*<h5 class="card-title">Special title treatment</h5>*@
                                                <p class="card-text">{{ShippingAddress.FullAddress}}</p>
                                                <p class="card-text"><span ng-show="ShippingAddress.Phone != null || ShippingAddress.Phone !=string.empty()">Phone:</span>&nbsp;{{ShippingAddress.Phone}}&nbsp;&nbsp;<span ng-show="ShippingAddress.Fax != null || ShippingAddress.Fax !=string.empty()">Fax:</span>&nbsp;{{ShippingAddress.Fax}}</p>
                                            </div>
                                        </div>
                                        <span class="label label-success" style="cursor:pointer;" data-toggle="modal" ng-click="CreateShippingAddress()">Change Address</span>
                                    </div>
                                    @*<div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ShippingAddressAttention.$touched || myForm.ShippingAddressAttention.$dirty)  && myForm.ShippingAddressAttention.$invalid}">
                                            <label class="col-sm-4 control-label">Attention</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="ShippingAddressAttention" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressAttention" ng-disabled="Processing" autocomplete="off" placeholder="Enter Shipping Address Attention" tooltip-placement="top" uib-tooltip="Enter Shipping Address Attention" />
                                                <div class="help-block" ng-messages="myForm.ShippingAddressAttention.$error" ng-if="myForm.ShippingAddressAttention.$touched || myForm.ShippingAddressAttention.$dirty && myForm.ShippingAddressAttention.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.ShippingAddressAttention" ng-bind="errors.formErrors.ShippingAddressAttention"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ShippingAddressCountryValue.$touched || myForm.ShippingAddressCountryValue.$dirty)  && myForm.ShippingAddressCountryValue.$invalid}">
                                            <label class="col-sm-4 control-label">Country</label>
                                            <div class="col-sm-8">
                                                <input data-ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressCountry_ID" type="hidden" id="ShippingAddressCountry_ID" data-ng-init="ShippingAddressCountry_ID='1009'" />
                                                <select name="ShippingAddressCountryValue" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressCountryValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllShippingCountry" ng-change="LoadShippingStates()" required>
                                                    <option value="" ng-selected="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SelectedShippingAddressCountryValue_ID < 0">-- Select --</option>
                                                </select>
                                                <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.ShippingAddressCountryValue.$error" ng-if="myForm.ShippingAddressCountryValue.$touched || myForm.ShippingAddressCountryValue.$dirty && myForm.ShippingAddressCountryValue.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressCountryValue" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressCountryValue"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ShippingAddressStreet1.$touched || myForm.ShippingAddressStreet1.$dirty)  && myForm.ShippingAddressStreet1.$invalid}">
                                            <label class="col-sm-4 control-label">Street 1</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="ShippingAddressStreet1" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressStreet1" ng-disabled="Processing" autocomplete="off" placeholder="Enter Shipping Address Street 1" tooltip-placement="top" uib-tooltip="Enter Shipping Address Street 1" required />
                                                <div class="help-block" ng-messages="myForm.ShippingAddressStreet1.$error" ng-if="myForm.ShippingAddressStreet1.$touched || myForm.ShippingAddressStreet1.$dirty && myForm.ShippingAddressStreet1.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.ShippingAddressStreet1" ng-bind="errors.formErrors.ShippingAddressStreet1"></span>
                                            </div>
                                        </div>

                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ShippingAddressStreet2.$touched || myForm.ShippingAddressStreet1.$dirty)  && myForm.ShippingAddressStreet1.$invalid}">
                                            <label class="col-sm-4 control-label">Street 2</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="ShippingAddressStreet2" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressStreet2" ng-disabled="Processing" autocomplete="off" placeholder="Enter Shipping Address Street 2" tooltip-placement="top" uib-tooltip="Enter Shipping Address Street 2" required />
                                                <div class="help-block" ng-messages="myForm.ShippingAddressStreet2.$error" ng-if="myForm.ShippingAddressStreet2.$touched || myForm.ShippingAddressStreet2.$dirty && myForm.ShippingAddressStreet2.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.ShippingAddressStreet2" ng-bind="errors.formErrors.ShippingAddressStreet2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ShippingAddressStateValue.$touched || myForm.ShippingAddressStateValue.$dirty)  && myForm.ShippingAddressStateValue.$invalid}">
                                            <label class="col-sm-4 control-label">State</label>
                                            <div class="col-sm-8">
                                                <input data-ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressState_ID" type="hidden" data-ng-init="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressState_ID='1010'" />
                                                <select name="ShippingAddressStateValue" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressStateValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllShippingState" ng-change="LoadCityOrDistrictShipping()" required>
                                                    <option value="" ng-selected="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SelectedShippingAddressStateValue_ID < 0">-- Select --</option>
                                                </select>
                                                <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.ShippingAddressStateValue.$error" ng-if="myForm.ShippingAddressStateValue.$touched || myForm.ShippingAddressStateValue.$dirty && myForm.ShippingAddressStateValue.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressStateValue" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressStateValue"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ShippingAddressCityOrDistrictValue.$touched || myForm.ShippingAddressCityOrDistrictValue.$dirty)  && myForm.ShippingAddressCityOrDistrictValue.$invalid}">
                                            <label class="col-sm-4 control-label">City</label>
                                            <div class="col-sm-8">
                                                <input data-ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressCityOrDistrict_ID" type="hidden" data-ng-init="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressCityOrDistrict_ID='1011'" />
                                                <select name="ShippingAddressCityOrDistrictValue" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressCityOrDistrictValue" class="form-control" style="width: 100%;" ng-options="x.Value as x.Description for x in AllShippingCity" required>
                                                    <option value="" ng-selected="SalesOrderCreateOrEditViewModel.SalesOrderHeader.SelectedShippingAddressCityOrDistrictValue_ID < 0">-- Select --</option>
                                                </select>
                                                <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.ShippingAddressCityOrDistrictValue.$error" ng-if="myForm.ShippingAddressCityOrDistrictValue.$touched || myForm.ShippingAddressCityOrDistrictValue.$dirty && myForm.ShippingAddressCityOrDistrictValue.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressCityOrDistrictValue" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressCityOrDistrictValue"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ShippingAddressZipCode.$touched || myForm.ShippingAddressZipCode.$dirty)  && myForm.ShippingAddressZipCode.$invalid}">
                                            <label class="col-sm-4 control-label">Zip Code</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="ShippingAddressZipCode" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressZipCode" ng-disabled="Processing" autocomplete="off" placeholder="Enter Shipping Address Zip Code" tooltip-placement="top" uib-tooltip="Enter Shipping Address Zip Code" pattern="^[1-9][0-9]{5}$" required />
                                                <div class="help-block" ng-messages="myForm.ShippingAddressZipCode.$error" ng-if="myForm.ShippingAddressZipCode.$touched || myForm.ShippingAddressZipCode.$dirty && myForm.ShippingAddressZipCode.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.ShippingAddressZipCode" ng-bind="errors.formErrors.ShippingAddressZipCode"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ShippingAddressPhone.$touched || myForm.ShippingAddressPhone.$dirty)  && myForm.ShippingAddressPhone.$invalid}">
                                            <label class="col-sm-4 control-label">Phone&nbsp;Number</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="ShippingAddressPhone" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressPhone" ng-disabled="Processing" autocomplete="off" placeholder="Enter Shipping Phone" tooltip-placement="top" uib-tooltip="Enter Shipping Phone" pattern="[0-9]{8}" />
                                                <div class="help-block" ng-messages="myForm.ShippingAddressPhone.$error" ng-if="myForm.ShippingAddressPhone.$touched || myForm.ShippingAddressPhone.$dirty && myForm.ShippingAddressPhone.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.ShippingAddressPhone" ng-bind="errors.formErrors.ShippingAddressPhone"></span>
                                            </div>
                                        </div>
                                        <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ShippingAddressFax.$touched || myForm.ShippingAddressFax.$dirty) && myForm.ShippingAddressFax.$invalid}">
                                            <label class="col-sm-4 control-label">Fax</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="ShippingAddressFax" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.ShippingAddressFax" ng-disabled="Processing" autocomplete="off" placeholder="Enter Shipping FAX" tooltip-placement="top" uib-tooltip="Enter Shipping FAX" required />
                                                <div class="help-block" ng-messages="myForm.ShippingAddressFax.$error" ng-if="myForm.ShippingAddressFax.$touched || myForm.ShippingAddressFax.$dirty && myForm.ShippingAddressFax.$invalid">
                                                    <div ng-messages-include="~/ValidationMessages.html"></div>
                                                </div>
                                                <span class="text-danger" ng-show="errors.formErrors.ShippingAddressFax" ng-bind="errors.formErrors.ShippingAddressFax"></span>
                                            </div>
                                        </div>*@
                                </div>
                            </div>

                            <div class="row" ng-show="AllProducts.length > 0">
                                <div class="col-md-12" style="overflow-x:auto;">
                                    <table cellpadding="0" cellspacing="0" class="table table-striped table-responsive table-bordered table-condensed">
                                        <thead>
                                            <tr class="">
                                                <th>Product</th>
                                                <th>UOM</th>
                                                <th>Quantity</th>
                                                <th>Price/UOM</th>
                                                <th>Amount</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            <tr ng-repeat="poItem in SalesOrderCreateOrEditViewModel.SalesOrderBody" class="ng-scope">
                                                <td>
                                                    <b>Name:</b>&nbsp;{{poItem.ProductName}}<br ng-if="poItem.ProductName" />
                                                    <b>Desc:</b>&nbsp;{{poItem.Description}}<br ng-if="poItem.Description" />
                                                    <b>SKU:</b>&nbsp;[{{poItem.SKU}}]<br ng-if="poItem.SKU" />
                                                    <b>HSN:</b>&nbsp;[{{poItem.HSN}}]<br ng-if="poItem.HSN" />
                                                    <b>Code:</b>&nbsp;[{{poItem.Code}}]
                                                </td>
                                                <td ng-bind="poItem.UnitOfMeasurementName"></td>
                                                <td ng-bind="poItem.Quantity"></td>
                                                <td ng-bind="poItem.PricePerUnit"></td>
                                                <td ng-bind="poItem.TotalAmount"></td>
                                                <td><span ng-click="RemoveItem($index)" class="btn btn-danger btn-sm"><i title="Delete" class="fa fa-close"></i></span></td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="">
                                            <tr>
                                                <td style="width: 40%;">
                                                    <select ng-model="ddlProductId" class="form-control pourchaseOrder-productDropdown" style="width: 100%;" ng-options="x.ID as x.Name for x in AllProducts" ng-change="LoadProductDetails()" required>
                                                        <option value="" ng-selected="ddlSelectedProductId < 0">-- Select --</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <span ng-bind="unitOfMeasurmnet"></span>
                                                </td>

                                                <td style="width: 10%;">
                                                    <input type="number" min="0" class="form-control pourchaseOrder-quantityTextbox" ng-model="txtQuantity" value="0" placeholder="Quantity" ng-change="CalculateTotal()" required>
                                                </td>
                                                <td style="width: 15%;">
                                                    <input type="number" class="form-control pourchaseOrder-priceTextbox" ng-model="txtPricePerUnit" placeholder="Price Per Unit" ng-change="CalculateTotal()" required>
                                                </td>
                                                <td style="width: 15%;">
                                                    <input type="text" class="form-control pourchaseOrder-totalTextbox" ng-disabled="true" ng-model="txtTotalPrice" placeholder="Total Price">
                                                </td>
                                                <td style="width: 5%;"><span ng-click="AddItem()" class="btn btn-success btn-sm"><i title="AddItem" class="fa fa-plus"></i></span></td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                            <div class="row" ng-show="AllProducts.length > 0">
                                <div class="col-md-12">
                                    <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.TermsAndConditions.$touched || myForm.TermsAndConditions.$dirty)  && myForm.TermsAndConditions.$invalid}">
                                        <label class="col-sm-2 control-label">Terms And Conditions</label>
                                        <div class="col-sm-10">
                                            <!--<textarea id="ckedtrdelmon" class="form-control ckedtrdelmon" name="TermsAndConditions" ng-model="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.TermsAndConditions" ng-disabled="Processing" autocomplete="off" placeholder="Enter terms and conditions" tooltip-placement="top" uib-tooltip="Enter terms and conditions" required></textarea>-->
                                            <textarea class="form-control" name="TermsAndConditions" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.TermsAndConditions" ng-disabled="Processing" autocomplete="off" placeholder="Enter terms and conditions" tooltip-placement="top" uib-tooltip="Enter terms and conditions" required></textarea>
                                            <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.TermsAndConditions.$error" ng-if="myForm.TermsAndConditions.$touched || myForm.TermsAndConditions.$dirty && myForm.TermsAndConditions.$invalid">
                                                <div ng-messages-include="~/ValidationMessages.html"></div>
                                            </div>
                                            <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.TermsAndConditions" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.TermsAndConditions"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.CustomerNote.$touched || myForm.CustomerNote.$dirty)  && myForm.CustomerNote.$invalid}">
                                        <label class="col-sm-2 control-label">Customer Note</label>
                                        <div class="col-sm-10">
                                            <!--<textarea id="ckedtrdelmon" class="form-control ckedtrdelmon" name="TermsAndConditions" ng-model="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.TermsAndConditions" ng-disabled="Processing" autocomplete="off" placeholder="Enter terms and conditions" tooltip-placement="top" uib-tooltip="Enter terms and conditions" required></textarea>-->
                                            <textarea class="form-control" name="CustomerNote" ng-model="SalesOrderCreateOrEditViewModel.SalesOrderHeader.CustomerNote" ng-disabled="Processing" autocomplete="off" placeholder="Enter Customer Note" tooltip-placement="top" uib-tooltip="Enter Customer Note" required></textarea>
                                            <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.CustomerNote.$error" ng-if="myForm.CustomerNote.$touched || myForm.CustomerNote.$dirty && myForm.CustomerNote.$invalid">
                                                <div ng-messages-include="~/ValidationMessages.html"></div>
                                            </div>
                                            <span class="text-danger" ng-show="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.CustomerNote" ng-bind="errors.formErrors.SalesOrderCreateOrEditViewModel.SalesOrderHeader.CustomerNote"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-if="!Processing" class="btn btn-sm btn-success pull-left" ng-disabled="myForm.$invalid">Save</button>
                    <span ng-if="Processing" class="btn btn-sm btn-success pull-left">Processing...</span>
                    <button type="reset" class="btn btn-sm btn-default pull-left" ng-click="Clear()">Clear</button>
                    <span class="btn btn-sm btn-danger" ng-click="ShowConfirm('modal-createOredit')">Close</span>
                </div>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>

@*<script src="~/bower_components/ckeditor/ckeditor.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-ckeditor/0.2.1/ng-ckeditor.min.js"></script>*@
