@using SHF.Helpers
@using Microsoft.AspNet.Identity
@model IEnumerable<SHF.EntityModel.SubMenu>


<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>

    @foreach (var item in Model)
    {
        <li id="li_treeview_@item.Name.Replace(" ","_")" class="treeview">
            @Html.GetNavigationMenu(User.Identity.GetUserId<long>(),item)
        </li>
    }

</ul>
