@functions{
    public string AntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<div class="modal-dialog">
    <div class="modal-content">
        <form name="myForm" ng-submit="myForm.$valid && createOreditAsyncForm()" novalidate>
            <!--myForm.$valid && -->
            <div class="modal-header">
                <button type="button" class="close" ng-click="ShowConfirm('modal-createOredit')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Product Details</h4>
            </div>
            <div class="modal-body">
                <!-- general form elements -->
                <div id="errorMessages" class="text-danger" ng-if="ValidationSummary" ng-repeat="vs in ValidationSummary">{{vs}}</div>
                <div class="box box-primary">
                    <div class="box-body">
                        <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />

                        <div class="form-group" ng-class="{'has-error': (myForm.Name.$touched || myForm.Name.$dirty)  && myForm.Name.$invalid}">
                            <label>Name</label>
                            <input type="text" class="form-control" name="Name" ng-model="ProductCreateOrEditViewModel.Name" ng-disabled="Processing" autocomplete="off" placeholder="Enter Name" tooltip-placement="top" uib-tooltip="Enter Name" pattern="[A-Za-z 0-9]*$" required />
                            <div class="help-block" ng-messages="myForm.Name.$error" ng-if="myForm.Name.$touched || myForm.Name.$dirty && myForm.Name.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Name" ng-bind="errors.formErrors.Name"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': (myForm.Description.$touched || myForm.Description.$dirty)  && myForm.Description.$invalid}">
                            <label>Description</label>
                            <textarea type="text" class="form-control" name="Description" ng-model="ProductCreateOrEditViewModel.Description" ng-disabled="Processing" autocomplete="off" placeholder="Enter Description" tooltip-placement="top" uib-tooltip="Enter Description" required></textarea>
                            <div class="help-block" ng-messages="myForm.Description.$error" ng-if="myForm.Description.$touched || myForm.Description.$dirty && myForm.Description.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Description" ng-bind="errors.formErrors.Description"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': (myForm.Code.$touched || myForm.Code.$dirty)  && myForm.Code.$invalid}">
                            <label>Code</label>
                            <input type="text" class="form-control" name="Code" ng-model="ProductCreateOrEditViewModel.Code" ng-disabled="Processing" autocomplete="off" placeholder="Enter Code" tooltip-placement="top" uib-tooltip="Enter Code" pattern="[A-Za-z0-9]*$" maxlength="10" required />
                            <div class="help-block" ng-messages="myForm.Code.$error" ng-if="myForm.Code.$touched || myForm.Code.$dirty && myForm.Code.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.Code" ng-bind="errors.formErrors.Code"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': (myForm.HSN.$touched || myForm.HSN.$dirty)  && myForm.HSN.$invalid}">
                            <label>HSN</label>
                            <input type="text" class="form-control" name="HSN" ng-model="ProductCreateOrEditViewModel.HSN" ng-disabled="Processing" autocomplete="off" placeholder="Enter HSN" tooltip-placement="top" uib-tooltip="Enter HSN" pattern="[0-9]{6}" maxlength="6" required />
                            <small id="HSNHelpBlock" class="form-text text-muted">
                                HSN must be six-digit only.
                            </small>
                            <div class="help-block" ng-messages="myForm.HSN.$error" ng-if="myForm.HSN.$touched || myForm.HSN.$dirty && myForm.HSN.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.HSN" ng-bind="errors.formErrors.HSN"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': (myForm.SKU.$touched || myForm.SKU.$dirty)  && myForm.SKU.$invalid}">
                            <label>SKU</label>
                            <input type="text" class="form-control" name="SKU" ng-model="ProductCreateOrEditViewModel.SKU" ng-disabled="Processing" autocomplete="off" placeholder="Enter SKU" tooltip-placement="top" ng-remote-validate="/Product/isExistsSKU" ng-remote-method="GET" uib-tooltip="Enter SKU" pattern="[A-Za-z0-9]*$" maxlength="10" required />
                            <div class="help-block" ng-messages="myForm.SKU.$error" ng-if="myForm.SKU.$touched || myForm.SKU.$dirty && myForm.SKU.$invalid || myForm.SKU.$error.ngRemoteValidate">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                                <span ng-show="myForm.SKU.$error.ngRemoteValidate">
                                    SKU already exist. Please enter another SKU.
                                </span>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.SKU" ng-bind="errors.formErrors.SKU"></span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': (myForm.UOM.$touched || myForm.UOM.$dirty)  && myForm.UOM.$invalid}">
                            <label>Unit&nbsp;Of&nbsp;Mesurment</label>
                            @*<input type="text" class="form-control" name="UOM" ng-model="ProductCreateOrEditViewModel.UnitOfMesurment" ng-disabled="Processing" autocomplete="off" placeholder="Enter UOM" tooltip-placement="top" uib-tooltip="Enter UOM" pattern="[A-Za-z]*$" required />*@
                            <select name="UOM" ng-model="ProductCreateOrEditViewModel.UnitOfMesurment" class="form-control" style="width: 100%;" ng-options="x.Name as x.Name for x in AllUnitOfMeasurements" required>
                                <option value="" ng-selected="ProductCreateOrEditViewModel.SelectedUnitOfMesurment < 0">-- Select --</option>
                            </select>
                            <div class="help-block" ng-messages="myForm.UOM.$error" ng-if="myForm.UOM.$touched || myForm.UOM.$dirty && myForm.UOM.$invalid">
                                <div ng-messages-include="~/ValidationMessages.html"></div>
                            </div>
                            <span class="text-danger" ng-show="errors.formErrors.UnitOfMesurment" ng-bind="errors.formErrors.UnitOfMesurment"></span>
                        </div>

                        <div class="form-group">
                            <label>Is Purchasable</label><br />
                            <label>
                                <!--https://codepen.io/mosluce/pen/yYmXGz-->
                                <input icheck type="checkbox" class="form-control" ng-model="ProductCreateOrEditViewModel.IsPurchasable" ng-checked="ProductCreateOrEditViewModel.IsPurchasable"><span style="margin-left: 10px;">{{ProductCreateOrEditViewModel.IsPurchasable ? 'Yes' : 'No'}} </span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label>Is Saleable</label><br />
                            <label>
                                <!--https://codepen.io/mosluce/pen/yYmXGz-->
                                <input icheck type="checkbox" class="form-control" ng-model="ProductCreateOrEditViewModel.IsSaleable" ng-checked="ProductCreateOrEditViewModel.IsSaleable"><span style="margin-left: 10px;">{{ProductCreateOrEditViewModel.IsSaleable ? 'Yes' : 'No'}} </span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label>Is Serial Tracked</label><br />
                            <label>
                                <!--https://codepen.io/mosluce/pen/yYmXGz-->
                                <input icheck type="checkbox" class="form-control" ng-model="ProductCreateOrEditViewModel.IsSerialTracked" ng-checked="ProductCreateOrEditViewModel.IsSerialTracked"><span style="margin-left: 10px;">{{ProductCreateOrEditViewModel.IsSerialTracked ? 'Yes' : 'No'}} </span>
                            </label>
                        </div>

                        @*<div class="form-group" ng-class="{'has-error': ((myForm.Image.$touched && myForm.Image.$invalid) || (!myForm.Image.$pristine && myForm.Image.$invalid))}">
            <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />
            <label>Image</label>
            <input type="file" class="form-control" name="Image" ng-model="ProductCreateOrEditViewModel.Image" ng-disabled="Processing" autocomplete="off" placeholder="Enter Image" tooltip-placement="top" uib-tooltip="Select Image" />
            <div class="help-block" ng-messages="myForm.Image.$error" ng-if="myForm.Image.$touched || myForm.Image.$dirty && myForm.Image.$invalid">
                <div ng-messages-include="~/ValidationMessages.html"></div>
            </div>
            <span class="text-danger" ng-show="errors.formErrors.Image" ng-bind="errors.formErrors.Image"></span>
        </div>*@

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-if="!Processing" class="btn btn-sm btn-success pull-left" ng-disabled="myForm.$invalid">Save</button>
                <span ng-if="Processing" class="btn btn-sm btn-success pull-left">Processing...</span>
                <button ng-click="Clear()" class="btn btn-sm btn-default pull-left">Clear</button>
                <span class="btn btn-sm btn-danger" ng-click="ShowConfirm('modal-createOredit')">Close</span>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>
