@functions{
    /**/

    /**/


    public string AntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}



<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form class="form-horizontal" name="myForm" ng-submit="myForm.$valid && createOreditAsyncForm()" novalidate>
            <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AntiForgeryToken()'" />
            <!--myForm.$valid && -->
            <div class="modal-header">
                <button type="button" class="close" ng-click="ShowConfirm('modal-createOredit')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Purchase Order Details</h4>
            </div>
            <div class="modal-body">
                <!-- general form elements -->
                <div id="errorMessages" class="text-danger" ng-if="ValidationSummary" ng-repeat="vs in ValidationSummary">{{vs}}</div>
                <div class="box box-primary">

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.TenantName.$touched || myForm.TenantName.$dirty)  && myForm.TenantName.$invalid}">
                                    <label class="col-sm-3 control-label">Tenant&nbsp;Name</label>
                                    <div class="col-sm-9">
                                        <select name="TenantName" ng-model="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.Tenant_ID" class="pourchaseOrder-form-control form-control" style="width: 100%;" ng-options="x.ID as x.Name for x in AllTenants" ng-change="LoadVendorsAndTaxRateByTenantId()" ng-disabled="PurchaseOrderCreateOrEditViewModel.PurchaseOrderBody.length > 0" required>
                                            <option value="" ng-selected="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.SelectedTenant_ID < 0">-- Select --</option>
                                        </select>
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.TenantName.$error" ng-if="myForm.TenantName.$touched || myForm.TenantName.$dirty && myForm.TenantName.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.Tenant_ID" ng-bind="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.Tenant_ID"></span>
                                    </div>
                                </div>

                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.VendorName.$touched || myForm.VendorName.$dirty)  && myForm.VendorName.$invalid}">
                                    <label class="col-sm-3 control-label">Vendor&nbsp;Name</label>
                                    <div class="col-sm-9">
                                        <select name="VendorName" ng-model="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.Vendor_ID" class="pourchaseOrder-form-control form-control" style="width: 100%;" ng-options="x.ID as x.Name for x in AllVendors" ng-change="LoadAddressAndProducts()" ng-disabled="PurchaseOrderCreateOrEditViewModel.PurchaseOrderBody.length > 0" required>
                                            <option value="" ng-selected="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.SelectedVendor_ID < 0">-- Select --</option>
                                        </select>
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.VendorName.$error" ng-if="myForm.VendorName.$touched || myForm.VendorName.$dirty && myForm.VendorName.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.Vendor_ID" ng-bind="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.Vendor_ID"></span>
                                    </div>
                                </div>
                                <div class="form-group pourchaseOrder-form-group" ng-show="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.Vendor_ID>0">
                                    <label class="col-sm-3 control-label">Billing Address</label>
                                    <div class="col-sm-9">
                                        <div class="card" style="border: 1px solid #ccc;padding: 6px;">
                                            <div class="card-body">
                                                @*<h5 class="card-title">Special title treatment</h5>*@
                                                <p class="card-text">{{BillingAddress.FullAddress}}</p>
                                                <p class="card-text"><span ng-show="BillingAddress.Phone != null || BillingAddress.Phone !=string.empty()">Phone:</span>&nbsp;{{BillingAddress.Phone}}&nbsp;&nbsp;<span ng-show="BillingAddress.Fax != null || BillingAddress.Fax !=string.empty()">Fax:</span>&nbsp;{{BillingAddress.Fax}}</p>
                                            </div>
                                        </div>
                                        <span class="label label-success" style="cursor:pointer;" data-toggle="modal" ng-click="CreateBillingAddress()">Change Address</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.QuotationID.$touched || myForm.QuotationID.$dirty)  && myForm.QuotationID.$invalid}">
                                    <label class="col-sm-3 control-label">Quotation&nbsp;No</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="pourchaseOrder-form-control form-control" name="QuotationID" ng-model="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.QuotationID" ng-disabled="Processing" autocomplete="off" placeholder="Enter quotation or reference number" tooltip-placement="top" uib-tooltip="Enter quotation or reference number" required />
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.QuotationID.$error" ng-if="myForm.QuotationID.$touched || myForm.QuotationID.$dirty && myForm.QuotationID.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.QuotationID" ng-bind="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.QuotationID"></span>
                                    </div>
                                </div>

                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.Remark.$touched || myForm.Remark.$dirty)  && myForm.Remark.$invalid}">
                                    <label class="col-sm-3 control-label">Remark</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="pourchaseOrder-form-control form-control" name="Remark" ng-model="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.Remark" ng-disabled="Processing" autocomplete="off" placeholder="Enter remark" tooltip-placement="top" uib-tooltip="Enter remark" required />
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.Remark.$error" ng-if="myForm.Remark.$touched || myForm.Remark.$dirty && myForm.Remark.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.Remark" ng-bind="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.Remark"></span>
                                    </div>
                                </div>

                                <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.ReferenceNumber.$touched || myForm.ReferenceNumber.$dirty)  && myForm.ReferenceNumber.$invalid}">
                                    <label class="col-sm-3 control-label">Reference&nbsp;No</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="pourchaseOrder-form-control form-control" name="ReferenceNumber" ng-model="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.ReferenceNumber" ng-disabled="Processing" autocomplete="off" placeholder="Enter Reference Number" tooltip-placement="top" uib-tooltip="Enter Reference Number" required />
                                        <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.ReferenceNumber.$error" ng-if="myForm.ReferenceNumber.$touched || myForm.ReferenceNumber.$dirty && myForm.ReferenceNumber.$invalid">
                                            <div ng-messages-include="~/ValidationMessages.html"></div>
                                        </div>
                                        <span class="text-danger" ng-show="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.ReferenceNumber" ng-bind="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.ReferenceNumber"></span>
                                    </div>
                                </div>
                                <div class="form-group pourchaseOrder-form-group" ng-show="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.Vendor_ID>0">
                                    <label class="col-sm-3 control-label">Shipping Address</label>
                                    <div class="col-sm-9">
                                        <div class="card" style="border: 1px solid #ccc;padding: 6px;">
                                            <div class="card-body">
                                                @*<h5 class="card-title">Special title treatment</h5>*@
                                                <p class="card-text">{{ShippingAddress}}</p>
                                                <p class="card-text"><span ng-show="TenantCreateOrEditViewModel.ShippingAddressPhone != null || TenantCreateOrEditViewModel.ShippingAddressPhone !=string.empty()">Phone:</span>&nbsp;{{TenantCreateOrEditViewModel.ShippingAddressPhone}}&nbsp;&nbsp;<span ng-show="TenantCreateOrEditViewModel.ShippingAddressFax != null || TenantCreateOrEditViewModel.ShippingAddressFax !=string.empty()">Fax:</span>&nbsp;{{TenantCreateOrEditViewModel.ShippingAddressFax}}</p>
                                            </div>
                                        </div>
                                        @*<span class="label label-success" style="cursor:pointer;" data-toggle="modal" ng-click="CreateShippingAddress()">Change Address</span>*@

                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="AllProductData.length > 0">
                                <div class="col-md-12" style="overflow-x:auto;">
                                    <table cellpadding="0" cellspacing="0" class="table table-striped table-responsive table-bordered table-condensed">
                                        <thead ng-show="PurchaseOrderCreateOrEditViewModel.PurchaseOrderBody.length > 0">
                                            <tr class="">
                                                <th style="width:30%!important">Item&nbsp;Details</th>
                                                <th style="width:10%!important">HSN</th>
                                                <th style="width:5%!important">Stock</th>
                                                <th style="width:10%!important">Quantity</th>
                                                <th style="width:10%!important">Rate</th>
                                                <th style="width:10%!important" ng-if="IsSameState">CGST</th>
                                                <th style="width:10%!important" ng-if="IsSameState">SGST</th>
                                                <th style="width:10%!important" ng-if="!IsSameState">IGST</th>
                                                <th style="width:10%!important">Amount</th>
                                                <th style="width:5%!important">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="PurchaseOrderCreateOrEditViewModel.PurchaseOrderBody.length > 0">
                                            <tr ng-repeat="poItem in PurchaseOrderCreateOrEditViewModel.PurchaseOrderBody" class="ng-scope">
                                                <td>
                                                    <b>Name:</b>&nbsp;{{poItem.ProductName}}<br ng-if="poItem.ProductName" />
                                                    <b>Desc:</b>&nbsp;{{poItem.Description}}<br ng-if="poItem.Description" />
                                                    <b>SKU:</b>&nbsp;[{{poItem.SKU}}]<br ng-if="poItem.SKU" />
                                                    <b>UOM:</b>&nbsp;[{{poItem.UnitOfMeasurementName}}]<br ng-if="poItem.HSN" />
                                                    <b>Code:</b>&nbsp;[{{poItem.Code}}]
                                                </td>
                                                <td ng-bind="poItem.HSN"></td>
                                                <td ng-bind="poItem.Stock"></td>
                                                <td ng-bind="poItem.Quantity"></td>
                                                <td ng-bind="poItem.PricePerUnit"></td>
                                                <td ng-if="IsSameState">
                                                    {{poItem.CGST | currency : '' : 2}}<br ng-if="IsSameState" />
                                                    <span> {{poItem.CGSTPercent | currency : '' : 2}}&nbsp;%</span>
                                                </td>
                                                <td ng-if="IsSameState">
                                                    {{poItem.SGST | currency : '' : 2}}<br ng-if="IsSameState" />
                                                    <span>{{poItem.SGSTPercent | currency : '' : 2}}&nbsp;%</span>
                                                </td>
                                                <td ng-if="!IsSameState">
                                                    {{poItem.IGST | currency : '' : 2}}<br ng-if="!IsSameState" />
                                                    <span>{{poItem.IGSTPercent | currency : '' : 2}}&nbsp;%</span>
                                                </td>
                                                <td ng-bind="poItem.TotalAmount"></td>
                                                <td><span ng-click="RemoveItem($index)" class="btn btn-xs btn-danger"><i title="Delete" class="fa fa-trash"></i></span></td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="">
                                            <tr>
                                                <td style="width:30%!important">Item&nbsp;Details</td>
                                                <td style="width:10%!important">Quantity</td>
                                                <td style="width:10%!important">Rate</td>
                                                <td style="width:10%!important">Tax</td>
                                                <td style="width:10%!important">Amount</td>
                                                <td style="width:5%!important">Action</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select ui-select2 ng-model="ddlProductId" class="pourchaseOrder-form-control form-control pourchaseOrder-productDropdown" style="width: 100%!important;" ng-options="x.ID  as ( x.SKU + ' - ' + x.Name ) for x in AllProductData" ng-change="LoadProductDetails()" required>
                                                        <option value="" ng-selected="ddlSelectedProductId < 0">-- Select --</option>
                                                    </select>
                                                </td>
                                                @*<td>
                                                        <span ng-bind="unitOfMeasurmnet"></span>
                                                    </td>*@
                                                <td>
                                                    @*<span ng-bind="availableQuanity"></span>*@
                                                    <input type="number" min="0" class="pourchaseOrder-form-control form-control pourchaseOrder-quantityTextbox" ng-model="txtQuantity" value="0" placeholder="Quantity" ng-change="CalculateTotal()" required />
                                                </td>
                                                <td>
                                                    <input type="number" style="width:100%!important" class="pourchaseOrder-form-control form-control pourchaseOrder-priceTextbox" ng-model="txtPricePerUnit" placeholder="Price Per Unit" ng-change="CalculateTotal()" required />
                                                </td>
                                                <td>
                                                    <select name="Slab" ng-model="ddlTaxRateId" class="pourchaseOrder-form-control form-control" style="width: 100%;" ng-options="x.ID as x.Slab for x in AllTaxRate" ng-change="LoadTenantAddressByTaxRateID()" required>
                                                        <option value="" ng-selected="ddlSelectedTaxRateId < 0">-- Select --</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" style="width:100%!important" class="pourchaseOrder-form-control form-control pourchaseOrder-totalTextbox" ng-disabled="true" ng-model="txtTotalPrice" placeholder="Total Price" />
                                                </td>

                                                <td><span ng-click="AddItem()" class="btn btn-success btn-sm"><i title="AddItem" class="fa fa-plus"></i></span></td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                            <div class="row" ng-show="AllProductData.length > 0">
                                <div class="col-md-12">
                                    <div class="form-group pourchaseOrder-form-group" ng-class="{'has-error': (myForm.TermsAndConditions.$touched || myForm.TermsAndConditions.$dirty)  && myForm.TermsAndConditions.$invalid}">
                                        <label class="col-sm-3 control-label">Terms And Conditions</label>
                                        <div class="col-sm-9">
                                            <!--<textarea id="ckedtrdelmon" class="pourchaseOrder-form-control form-control ckedtrdelmon" name="TermsAndConditions" ng-model="PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.TermsAndConditions" ng-disabled="Processing" autocomplete="off" placeholder="Enter terms and conditions" tooltip-placement="top" uib-tooltip="Enter terms and conditions" required></textarea>-->
                                            <div name="TermsAndConditions" class="form-control" data-wysiwyg='PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.TermsAndConditions' data-wysiwyg-toolbar='toolbar' data-ng-model='PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.TermsAndConditions'></div>
                                            <div class="help-block pourchaseOrder-help-block" ng-messages="myForm.TermsAndConditions.$error" ng-if="myForm.TermsAndConditions.$touched || myForm.TermsAndConditions.$dirty && myForm.TermsAndConditions.$invalid">
                                                <div ng-messages-include="~/ValidationMessages.html"></div>
                                            </div>
                                            <span class="text-danger" ng-show="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.TermsAndConditions" ng-bind="errors.formErrors.PurchaseOrderCreateOrEditViewModel.PurchaseOrderHeader.TermsAndConditions"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-if="!Processing" class="btn btn-sm btn-success pull-left" ng-disabled="myForm.$invalid">Save</button>
                <span ng-if="Processing" class="btn btn-sm btn-success pull-left">Processing...</span>
                <button type="reset" class="btn btn-sm btn-default pull-left" ng-click="Clear()">Clear</button>
                <span class="btn btn-sm btn-danger" ng-click="ShowConfirm('modal-createOredit')">Close</span>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>

@*<script src="~/bower_components/ckeditor/ckeditor.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-ckeditor/0.2.1/ng-ckeditor.min.js"></script>*@
